Repository MegoM2323/Educational-platform-the-bot: changes, and which Codecov flags are due for each by the changed paths.
All: backend, backend-unit, backend-integration, frontend, frontend-unit

Добавлен setup_production.sh для автоматизации production deployment
  backend/accounts/management/commands/setup_production_users.py
  scripts/setup_production.sh
Due: backend, backend-unit, backend-integration

Добавлены скрипты для production deployment и user setup
  .claude/state/progress.json
Due: none

Исправление URL routing конфликта в Chat API
  backend/chat/urls.py
Due: backend, backend-unit, backend-integration

Исправление конфликта prefetch_related в Chat serializers
  backend/chat/serializers.py
  backend/chat/views.py
Due: backend, backend-unit, backend-integration

ФАЗА 1: Критические исправления системы расписания (C1-C5)
  .claude/state/progress.json
  backend/chat/__pycache__/models.cpython-313.pyc
  backend/chat/models.py
  backend/scheduling/__pycache__/models.cpython-313.pyc
  backend/scheduling/__pycache__/views.cpython-313.pyc
  backend/scheduling/models.py
  backend/scheduling/views.py
Due: backend, backend-unit, backend-integration

Исправление scheduling admin и оптимизация моделей
  backend/chat/models.py
  backend/chat/services/pachca_service.py
  backend/chat/views.py
  backend/materials/migrations/0039_alter_subjectenrollment_fields_and_constraint.py
  backend/scheduling/admin.py
  backend/scheduling/models.py
  backend/scheduling/views.py
Due: backend, backend-unit, backend-integration

Обновлены пути к venv в скрипте деплоя
  scripts/deployment/rsync-deploy-native.sh
Due: none

Исправлен ChatContact interface - соответствие backend ответу
  frontend/src/integrations/api/chatAPI.ts
Due: frontend, frontend-unit

Комплексное исправление системы назначения и связей пользователей
  backend/accounts/tests/test_student_deletion.py
  backend/chat/tests/test_chat_cascade.py
  backend/materials/tests/test_enrollment_cascade.py
  backend/materials/tests/test_enrollment_constraint.py
  backend/materials/tests/test_enrollment_validation.py
  backend/scheduling/tests/test_error_messages.py
  backend/scheduling/tests/test_lesson_cascade.py
  backend/scheduling/tests/test_race_conditions.py
  backend/scheduling/tests/test_serializer_validation.py
  backend/scheduling/tests/test_student_conflicts.py
  backend/scheduling/tests/test_student_schedule_race.py
  backend/scheduling/tests/test_telemost_validation.py
Due: none

Исправлена критическая race condition в can_access_chat()
  backend/chat/services/chat_service.py
  backend/chat/services/message_service.py
Due: backend, backend-unit, backend-integration

Исправление Chat API: ошибки создания чата
  backend/chat/models.py
  backend/chat/serializers.py
  backend/chat/services/chat_service.py
  frontend/dist/index.html
  frontend/src/components/chat/ContactSelector.tsx
  frontend/src/components/chat/ContactsList/index.tsx
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Переименование Forum → Chat по всему проекту
  .claude/state/plan.md
  .claude/state/progress.json
  backend/accounts/signals.py
  backend/accounts/staff_views.py
  backend/config/settings.py
  frontend/src/App.tsx
  frontend/src/components/chat/ChatRoom/MessageItem.tsx
  frontend/src/components/chat/ContactSelector.tsx
  frontend/src/components/chat/ContactsList/index.tsx
  frontend/src/components/chat/EditMessageDialog.tsx
  frontend/src/components/chat/MessageActions.tsx
  frontend/src/components/chat/__tests__/EditMessageDialog.test.tsx
  frontend/src/components/chat/__tests__/MessageActions.test.tsx
  frontend/src/components/layout/ParentSidebar.tsx
  frontend/src/components/layout/StudentSidebar.tsx
  frontend/src/components/layout/TeacherSidebar.tsx
  frontend/src/components/layout/TutorSidebar.tsx
  frontend/src/hooks/useChatMessageDelete.ts
  frontend/src/hooks/useChatMessageUpdate.ts
  frontend/src/hooks/useChatMessages.ts
  frontend/src/hooks/useChatRooms.ts
  frontend/src/pages/dashboard/Chat.tsx
  frontend/src/pages/dashboard/ParentDashboard.tsx
  frontend/src/pages/dashboard/StudentDashboard.tsx
  frontend/src/pages/dashboard/TeacherDashboard.tsx
  frontend/src/pages/dashboard/TutorDashboard.tsx
  frontend/src/pages/dashboard/student/LessonViewerPage.tsx
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Path conditions:
  backend: any of: backend/, but not: backend/migrations/**/*, backend/*/migrations/**/*, backend/tests/**/*, backend/*/tests/**/*, backend/manage.py, backend/*/wsgi.py, backend/*/asgi.py, backend/config/settings.py, backend/core/celery_config.py, frontend/node_modules/**/*, frontend/dist/**/*, frontend/build/**/*, **/__pycache__/**/*, **/*.pyc, **/test_*.py, **/*_test.py, tests/**/*, **/.venv/**/*, **/venv/**/*
  backend-unit: any of: backend/, but not: backend/migrations/**/*, backend/*/migrations/**/*, backend/tests/**/*, backend/*/tests/**/*, backend/manage.py, backend/*/wsgi.py, backend/*/asgi.py, backend/config/settings.py, backend/core/celery_config.py, frontend/node_modules/**/*, frontend/dist/**/*, frontend/build/**/*, **/__pycache__/**/*, **/*.pyc, **/test_*.py, **/*_test.py, tests/**/*, **/.venv/**/*, **/venv/**/*
  backend-integration: any of: backend/, but not: backend/migrations/**/*, backend/*/migrations/**/*, backend/tests/**/*, backend/*/tests/**/*, backend/manage.py, backend/*/wsgi.py, backend/*/asgi.py, backend/config/settings.py, backend/core/celery_config.py, frontend/node_modules/**/*, frontend/dist/**/*, frontend/build/**/*, **/__pycache__/**/*, **/*.pyc, **/test_*.py, **/*_test.py, tests/**/*, **/.venv/**/*, **/venv/**/*
  frontend: any of: frontend/src/, but not: backend/migrations/**/*, backend/*/migrations/**/*, backend/tests/**/*, backend/*/tests/**/*, backend/manage.py, backend/*/wsgi.py, backend/*/asgi.py, backend/config/settings.py, backend/core/celery_config.py, frontend/node_modules/**/*, frontend/dist/**/*, frontend/build/**/*, **/__pycache__/**/*, **/*.pyc, **/test_*.py, **/*_test.py, tests/**/*, **/.venv/**/*, **/venv/**/*
  frontend-unit: any of: frontend/src/, but not: backend/migrations/**/*, backend/*/migrations/**/*, backend/tests/**/*, backend/*/tests/**/*, backend/manage.py, backend/*/wsgi.py, backend/*/asgi.py, backend/config/settings.py, backend/core/celery_config.py, frontend/node_modules/**/*, frontend/dist/**/*, frontend/build/**/*, **/__pycache__/**/*, **/*.pyc, **/test_*.py, **/*_test.py, tests/**/*, **/.venv/**/*, **/venv/**/*
