Repository MegoM2323/Educational-platform-the-bot: changes, and which Codecov flags are due for each by the changed paths.
All: backend, backend-unit, backend-integration, frontend, frontend-unit

Добавить full_clean() валидацию в staff_views.py после get_or_create()
  .claude/state/progress.json
  backend/accounts/staff_views.py
Due: backend, backend-unit, backend-integration

Исправлены критические баги функционала создания пользователей
  backend/accounts/serializers.py
  backend/accounts/tests/conftest.py
Due: backend, backend-unit, backend-integration

Разработать безопасный production deployment скрипт
  safe-deploy-native.sh
  scripts/deploy/native-full-deploy.sh
Due: none

Полное исправление функционала чатов для всех ролей пользователей
  backend/chat/__pycache__/permissions.cpython-313.pyc
  backend/chat/__pycache__/serializers.cpython-313.pyc
  backend/chat/__pycache__/views.cpython-313.pyc
  backend/chat/consumers.py
  backend/chat/services/chat_service.py
  backend/chat/tests/test_can_initiate_chat_all_roles.py
  backend/chat/tests/test_inactive_users_security.py
  backend/chat/tests/test_rate_limiting_bypass.py
  backend/chat/tests/test_services.py
  backend/chat/tests/test_websocket_chat_roles.py
  backend/chat/tests/test_websocket_rate_limiting.py
  backend/chat/views.py
Due: backend, backend-unit, backend-integration

Исправлены критические уязвимости функционала чатов для всех ролей
  backend/chat/consumers.py
  backend/chat/services/chat_service.py
  backend/chat/tests/disabled_test_enrollment_forum_signal.py
  backend/chat/tests/disabled_test_parent_sync_issues_T002.py
  backend/chat/tests/test_api_integration.py
  backend/chat/tests/test_parent_chat_api.py
  backend/chat/tests/test_tutor_cabinet_messaging.py
  backend/chat/tests/test_websocket_rate_limiting.py
Due: backend, backend-unit, backend-integration

Исправить работу резервного копирования БД в native deployment скрипте
  safe-deploy-native.sh
Due: none

Удалены несовместимые тесты из архитектуры ChatRoom
  backend/.claude/state/progress.json
  backend/chat/tests/test_enrollment_forum_signal.py
  backend/chat/tests/test_parent_sync_issues_T002.py
Due: backend, backend-unit, backend-integration

Add deployment readiness report
  DEPLOYMENT_READINESS.md
Due: none

Исправление функционала чатов для всех ролей пользователей
  backend/chat/consumers.py
  frontend/src/App.tsx
  frontend/src/pages/dashboard/Chat.tsx
  frontend/src/pages/dashboard/parent/ChatPage.tsx
  frontend/src/pages/dashboard/student/ChatPage.tsx
  frontend/src/pages/dashboard/teacher/ChatPage.tsx
  frontend/src/pages/dashboard/tutor/ChatPage.tsx
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Исправление критических ошибок системы чатов
  backend/chat/consumers.py
  backend/chat/middleware.py
  backend/chat/routing.py
  backend/chat/serializers.py
  backend/chat/signals.py
  backend/chat/tests/test_middleware_jwt_header.py
  backend/chat/tests/test_websocket_comprehensive.py
  backend/config/asgi.py
  frontend/src/hooks/useChat.ts
  frontend/src/services/chatWebSocketService.ts
  frontend/src/services/websocketService.ts
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Исправление загрузки контактов в чатах
  backend/chat/services/chat_service.py
  backend/chat/views.py
Due: backend, backend-unit, backend-integration

Временное отключение пункта меню Сообщения и упрощение WebSocket сервисов
  frontend/src/components/layout/ParentSidebar.tsx
  frontend/src/components/layout/StudentSidebar.tsx
  frontend/src/components/layout/TeacherSidebar.tsx
  frontend/src/components/layout/TutorSidebar.tsx
  frontend/src/services/invoiceWebSocketService.ts
  frontend/src/services/notificationWebSocketService.ts
Due: frontend, frontend-unit

Исправление WebSocket аутентификации для уведомлений
  DEPLOYMENT_READINESS.md
  E2E_TESTS_SUMMARY.md
  TESTING_QUICK_START.md
  TEST_EXECUTION_REPORT.md
Due: none

Исправление системы чатов: интеграция фронтенда и бэкенда
  backend/chat/middleware.py
  backend/chat/serializers.py
  frontend/dist/index.html
  frontend/src/components/chat/ChatNotificationBadge.tsx
  frontend/src/components/layout/StudentSidebar.tsx
  frontend/src/hooks/useGeneralChatHooks.ts
  frontend/src/integrations/api/chatAPI.ts
  frontend/src/pages/dashboard/parent/ChatPage.tsx
  frontend/src/pages/dashboard/student/ChatPage.tsx
  frontend/src/pages/dashboard/teacher/ChatPage.tsx
  frontend/src/pages/dashboard/tutor/ChatPage.tsx
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Финализация исправления системы чатов
  .claude/state/issues.json
  .claude/state/progress.json
  .playwright-mcp/chat-page-current.png
  frontend/dist/index.html
  frontend/src/hooks/useGeneralChatHooks.ts
Due: frontend, frontend-unit

Исправление CSS: добавлена конфигурация Tailwind и PostCSS
  frontend/postcss.config.js
  frontend/tailwind.config.ts
  scripts/deploy-to-production.sh
Due: none

Исправление функционала чатов и CSS подгрузки
  backend/chat/services/chat_service.py
  frontend/dist/index.html
Due: backend, backend-unit, backend-integration

Добавлено диагностическое логирование для отладки системы чатов
  frontend/src/hooks/useGeneralChatHooks.ts
  frontend/src/integrations/api/chatAPI.ts
Due: frontend, frontend-unit

Исправление конфигурации WebSocket чатов
  .env.production.native
  backend/config/settings.py
  backend/requirements.txt
  safe-deploy-native.sh
Due: backend, backend-unit, backend-integration

Удаление нефункциональных компонентов и функций модерации
  .claude/state/issues.json
  .claude/state/progress.json
  backend/chat/__pycache__/serializers.cpython-313.pyc
  frontend/dist/index.html
  frontend/node_modules/.vite/vitest/da39a3ee5e6b4b0d3255bfef95601890afd80709/results.json
  frontend/src/components/chat/ChatWindow.tsx
  frontend/src/components/chat/MessageInput.tsx
  frontend/src/components/forum/MessageActions.tsx
  frontend/src/integrations/api/forumAPI.ts
  frontend/src/integrations/api/forumAPICompat.ts
  frontend/src/pages/dashboard/Forum.tsx
  frontend/src/pages/dashboard/__tests__/Forum.chat-state.test.tsx
  frontend/src/pages/dashboard/parent/__tests__/ChatPage.test.tsx
Due: frontend, frontend-unit

Добавлены полные E2E тесты для системы чатов
  frontend/src/__tests__/chats.e2e.test.ts
Due: frontend, frontend-unit

Исправление обработки ошибок в rsync-deploy-native.sh
  scripts/deployment/rsync-deploy-native.sh
Due: none

Добавлен rsync-based deployment скрипт для production деплоя без git pull
  .claude/state/issues.json
  .claude/state/plan.md
  .claude/state/progress.json
Due: none

Исправлена команда npm install: используется --legacy-peer-deps вместо --production
  scripts/deployment/rsync-deploy-native.sh
Due: none

Удалена проблемная команда build-monitor.js из npm build скрипта
  frontend/package.json
Due: none

Исправление ошибки отправки сообщений: восстановлено поле message_type
  .playwright-mcp/page-2026-01-09T21-02-31-924Z.png
  backend/chat/__pycache__/models.cpython-313.pyc
  backend/chat/migrations/0013_remove_messagethread_created_by_and_more.py
  backend/chat/models.py
Due: backend, backend-unit, backend-integration

Исправление ошибки сериализации аватара в контактах чата
  backend/chat/services/chat_service.py
Due: backend, backend-unit, backend-integration

Исправление аутентификации WebSocket: оптимизация извлечения токена и диагностика
  backend/chat/consumers.py
  backend/chat/middleware.py
  backend/chat/tests/test_websocket_authentication.py
  backend/tests/integration/chat/test_websocket_auth_integration.py
  frontend/src/services/chatWebSocketService.ts
  frontend/src/services/websocketService.ts
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Исправление ошибок Forum компонента: undefined participants и полей sender
  frontend/src/components/chat/ChatList.tsx
  frontend/src/components/chat/ChatList/ChatListItem.tsx
  frontend/src/components/chat/ChatList/index.tsx
  frontend/src/components/chat/ChatRoom/ChatHeader.tsx
  frontend/src/components/chat/ChatRoom/MessageItem.tsx
  frontend/src/integrations/api/chatAPI.ts
  frontend/src/interfaces/chat.types.ts
Due: frontend, frontend-unit

Исправлены критические ошибки системы чата
  backend/chat/migrations/0019_fix_chatroom_schema.py
  backend/chat/serializers.py
  backend/invoices/migrations/0001_initial.py
  backend/tests/test_e2e_message_exchange.py
  frontend/src/components/chat/ChatList.tsx
  frontend/src/components/chat/ChatList/ChatListItem.tsx
  frontend/src/components/chat/ChatList/index.tsx
  frontend/src/components/chat/ChatRoom/ChatHeader.tsx
  frontend/src/components/chat/ChatRoom/MessageItem.tsx
  frontend/src/components/chat/ChatRoom/MessageList.tsx
  frontend/src/components/chat/ChatRoom/index.tsx
  frontend/src/components/chat/ContactSelector.tsx
  frontend/src/components/chat/ContactsList/index.tsx
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Исправление race condition при login - гарантирование сохранения токена
  .claude/state/progress.json
  frontend/dist/index.html
  frontend/e2e/E2E_TEST_REPORT.md
  frontend/e2e/forum-messaging-full.spec.ts
  frontend/src/pages/Auth.tsx
  frontend/test-results/.last-run.json
Due: frontend, frontend-unit

Path conditions:
  backend: any of: backend/, but not: backend/migrations/**/*, backend/*/migrations/**/*, backend/tests/**/*, backend/*/tests/**/*, backend/manage.py, backend/*/wsgi.py, backend/*/asgi.py, backend/config/settings.py, backend/core/celery_config.py, frontend/node_modules/**/*, frontend/dist/**/*, frontend/build/**/*, **/__pycache__/**/*, **/*.pyc, **/test_*.py, **/*_test.py, tests/**/*, **/.venv/**/*, **/venv/**/*
  backend-unit: any of: backend/, but not: backend/migrations/**/*, backend/*/migrations/**/*, backend/tests/**/*, backend/*/tests/**/*, backend/manage.py, backend/*/wsgi.py, backend/*/asgi.py, backend/config/settings.py, backend/core/celery_config.py, frontend/node_modules/**/*, frontend/dist/**/*, frontend/build/**/*, **/__pycache__/**/*, **/*.pyc, **/test_*.py, **/*_test.py, tests/**/*, **/.venv/**/*, **/venv/**/*
  backend-integration: any of: backend/, but not: backend/migrations/**/*, backend/*/migrations/**/*, backend/tests/**/*, backend/*/tests/**/*, backend/manage.py, backend/*/wsgi.py, backend/*/asgi.py, backend/config/settings.py, backend/core/celery_config.py, frontend/node_modules/**/*, frontend/dist/**/*, frontend/build/**/*, **/__pycache__/**/*, **/*.pyc, **/test_*.py, **/*_test.py, tests/**/*, **/.venv/**/*, **/venv/**/*
  frontend: any of: frontend/src/, but not: backend/migrations/**/*, backend/*/migrations/**/*, backend/tests/**/*, backend/*/tests/**/*, backend/manage.py, backend/*/wsgi.py, backend/*/asgi.py, backend/config/settings.py, backend/core/celery_config.py, frontend/node_modules/**/*, frontend/dist/**/*, frontend/build/**/*, **/__pycache__/**/*, **/*.pyc, **/test_*.py, **/*_test.py, tests/**/*, **/.venv/**/*, **/venv/**/*
  frontend-unit: any of: frontend/src/, but not: backend/migrations/**/*, backend/*/migrations/**/*, backend/tests/**/*, backend/*/tests/**/*, backend/manage.py, backend/*/wsgi.py, backend/*/asgi.py, backend/config/settings.py, backend/core/celery_config.py, frontend/node_modules/**/*, frontend/dist/**/*, frontend/build/**/*, **/__pycache__/**/*, **/*.pyc, **/test_*.py, **/*_test.py, tests/**/*, **/.venv/**/*, **/venv/**/*
