Repository MegoM2323/Educational-platform-the-bot: changes, and which Codecov flags are due for each by the changed paths.
All: backend, backend-unit, backend-integration, frontend, frontend-unit

Исправить критические production ошибки
  backend/chat/forum_views.py
  backend/notifications/models.py
Due: backend, backend-unit, backend-integration

Исправления после полного production deployment
  .claude/state/progress.json
  SCHEDULING_TEST_REPORT.md
  backend/invoices/migrations/0001_initial.py
Due: none

Исправить WebSocket HTTP 500 при подключении к notifications
  backend/notifications/consumers.py
  backend/notifications/tests/test_notifications_consumer_errors.py
Due: backend, backend-unit, backend-integration

Исправить CHANNEL_LAYERS конфигурацию для channels_redis
  backend/config/settings.py
Due: none

Добавить фильтр по статусам для TUTOR и PARENT в get_queryset
  backend/scheduling/views.py
Due: backend, backend-unit, backend-integration

Исправить видимость сообщений для parent в forum чатах
  backend/chat/forum_views.py
  backend/chat/signals.py
Due: backend, backend-unit, backend-integration

Исправить видимость занятий (lessons) для студентов, тьюторов и родителей
  backend/scheduling/admin.py
  backend/scheduling/models.py
  backend/scheduling/serializers.py
  backend/scheduling/services/lesson_service.py
  backend/scheduling/views.py
  backend/tests/test_lesson_visibility.py
Due: backend, backend-unit, backend-integration

Добавить status фильтры в tutor_views и parent_views для полной видимости matrix
  backend/scheduling/parent_views.py
  backend/scheduling/tutor_views.py
Due: backend, backend-unit, backend-integration

Обновление расписания и исправления
  .claude/state/issues.json
  .claude/state/progress.json
  .claude/state/test_results_admin_e2e_navigation.json
  .gitignore
  ITERATION_2_TEST_REPORT.txt
  backend/accounts/__pycache__/views.cpython-313.pyc
  backend/chat/__pycache__/forum_views.cpython-313.pyc
  backend/chat/__pycache__/signals.cpython-313.pyc
  backend/chat/consumers.py
  backend/chat/tests/test_e2e_forum_messages_visibility.py
  backend/chat/tests/test_final_parent_visibility.py
  backend/chat/tests/test_message_visibility.py
  backend/chat/tests/test_parent_sync_issues_T002.py
  backend/chat/tests/test_t005_parent_messages_access.py
  backend/config/__pycache__/settings.cpython-313.pyc
  backend/invoices/migrations/__pycache__/0001_initial.cpython-313.pyc
  backend/logs/admin.log
  backend/logs/audit.log
  backend/notifications/__pycache__/models.cpython-313.pyc
  backend/scheduling/__pycache__/admin.cpython-313.pyc
  backend/scheduling/__pycache__/models.cpython-313.pyc
  backend/scheduling/__pycache__/parent_views.cpython-313.pyc
  backend/scheduling/__pycache__/serializers.cpython-313.pyc
  backend/scheduling/__pycache__/tutor_views.cpython-313.pyc
  backend/scheduling/__pycache__/views.cpython-313.pyc
  backend/scheduling/services/__pycache__/lesson_service.cpython-313.pyc
  dump.rdb
  scripts/deploy/native-full-deploy.sh
Due: backend, backend-unit, backend-integration

Обновление расписания и исправления
  .claude/state/test_results_admin_e2e_navigation.json
  scripts/deploy/native-full-deploy.sh
Due: none

Обновление расписания и исправления
  backend/tests/test_lesson_visibility_matrix.py
  scripts/deploy/native-full-deploy.sh
Due: none

Упростить формат имен форум-чатов до 'Предмет Ученик'
  backend/chat/signals.py
Due: backend, backend-unit, backend-integration

Исправить критические баги видимости сообщений между ролями
  .playwright-mcp/frontend-homepage.png
  backend/chat/consumers.py
  backend/chat/permissions.py
  backend/chat/signals.py
Due: backend, backend-unit, backend-integration

Исправить доставку сообщений между пользователями
  backend/chat/forum_views.py
Due: backend, backend-unit, backend-integration

Изменить формат названий чатов в зависимости от роли пользователя
  backend/accounts/factories.py
  backend/chat/forum_views.py
  backend/chat/signals.py
  backend/chat/tests/test_enrollment_forum_signal.py
  backend/chat/tests/test_message_broadcast.py
Due: backend, backend-unit, backend-integration

Миграция: переименование существующих чатов на новый формат
  backend/chat/migrations/0011_rename_forum_chats.py
Due: none

Исправление видимости чатов FORUM_TUTOR для учителей
  backend/chat/forum_views.py
  backend/knowledge_graph/student_lesson_views.py
  backend/materials/bulk_operations_views.py
  backend/materials/student_api_views.py
  backend/materials/student_dashboard_views.py
Due: backend, backend-unit, backend-integration

Добавить JWT аутентификацию на все student endpoints
  backend/materials/tutor_dashboard_views.py
  backend/tests/test_jwt_authentication_endpoints.py
Due: backend, backend-unit, backend-integration

Исправить синтаксис CheckConstraint в миграции (check -> condition)
  backend/invoices/migrations/0001_initial.py
Due: none

Исправить миграцию чатов: использовать first_name/last_name вместо get_full_name()
  backend/chat/migrations/0011_rename_forum_chats.py
Due: none

Исправить формат названий FORUM_SUBJECT чатов в materials/signals.py
  backend/materials/signals.py
Due: backend, backend-unit, backend-integration

Исправление системы DIRECT чатов между учеником и преподавателем
  backend/chat/services/__init__.py
  backend/chat/services/direct_chat_service.py
  backend/chat/signals.py
  backend/chat/views.py
  backend/invoices/migrations/0001_initial.py
  backend/materials/signals.py
  backend/reports/migrations/0015_alter_teacherweeklyreport_unique_together_and_more.py
Due: backend, backend-unit, backend-integration

Исправить поиск существующего DIRECT чата
  backend/chat/services/direct_chat_service.py
Due: backend, backend-unit, backend-integration

Исправить отправку сообщений в чате
  frontend/src/pages/dashboard/parent/ChatPage.tsx
  frontend/src/pages/dashboard/student/ChatPage.tsx
  frontend/src/pages/dashboard/teacher/ChatPage.tsx
  frontend/src/pages/dashboard/tutor/ChatPage.tsx
Due: frontend, frontend-unit

Исправить endpoint /api/chat/ - возвращать чаты вместо сообщений
  backend/chat/views.py
Due: backend, backend-unit, backend-integration

Исправить систему чатов и WebSocket подключений
  backend/chat/views.py
  backend/reports/consumers.py
  frontend/src/hooks/useStudent.ts
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Исправить CheckConstraint: check -> condition (Django 5.x API)
  backend/invoices/migrations/0001_initial.py
Due: none

Исправить ChatService: заменить chatparticipant -> participants
  .claude/state/progress.json
  backend/chat/services/chat_service.py
  backend/chat/services/chat_service_new.py
  backend/chat/tests/test_services.py
  backend/chat/views.py
Due: backend, backend-unit, backend-integration

Финальная исправка 6 критических проблем архитектуры
  backend/chat/serializers.py
  backend/chat/services/chat_service.py
  backend/chat/urls.py
  backend/chat/views.py
Due: backend, backend-unit, backend-integration

Исправлены критические ошибки в API контактов и routing
  backend/chat/__pycache__/urls.cpython-313.pyc
  backend/chat/__pycache__/views.cpython-313.pyc
  backend/chat/tests/test_api_integration.py
  backend/chat/urls.py
  backend/chat/views.py
Due: backend, backend-unit, backend-integration

Исправлены API endpoints в frontend для соответствия backend
  frontend/dist/index.html
  frontend/src/integrations/api/forumAPI.ts
Due: frontend, frontend-unit

Исправить миграцию 0012: добавить явное удаление M2M таблицы
  backend/chat/migrations/0012_recreate_chat_models.py
Due: none

Исправить миграцию 0012: использовать --fake для обхода ограничений прав БД
  backend/chat/migrations/0012_recreate_chat_models.py
Due: none

T009: Добавить безопасность генерации username с лимитом MAX_USERNAME_ATTEMPTS
  backend/accounts/staff_views.py
  backend/accounts/tests/test_username_generation_limit.py
Due: backend, backend-unit, backend-integration

Path conditions:
  backend: any of: backend/, but not: backend/migrations/**/*, backend/*/migrations/**/*, backend/tests/**/*, backend/*/tests/**/*, backend/manage.py, backend/*/wsgi.py, backend/*/asgi.py, backend/config/settings.py, backend/core/celery_config.py, frontend/node_modules/**/*, frontend/dist/**/*, frontend/build/**/*, **/__pycache__/**/*, **/*.pyc, **/test_*.py, **/*_test.py, tests/**/*, **/.venv/**/*, **/venv/**/*
  backend-unit: any of: backend/, but not: backend/migrations/**/*, backend/*/migrations/**/*, backend/tests/**/*, backend/*/tests/**/*, backend/manage.py, backend/*/wsgi.py, backend/*/asgi.py, backend/config/settings.py, backend/core/celery_config.py, frontend/node_modules/**/*, frontend/dist/**/*, frontend/build/**/*, **/__pycache__/**/*, **/*.pyc, **/test_*.py, **/*_test.py, tests/**/*, **/.venv/**/*, **/venv/**/*
  backend-integration: any of: backend/, but not: backend/migrations/**/*, backend/*/migrations/**/*, backend/tests/**/*, backend/*/tests/**/*, backend/manage.py, backend/*/wsgi.py, backend/*/asgi.py, backend/config/settings.py, backend/core/celery_config.py, frontend/node_modules/**/*, frontend/dist/**/*, frontend/build/**/*, **/__pycache__/**/*, **/*.pyc, **/test_*.py, **/*_test.py, tests/**/*, **/.venv/**/*, **/venv/**/*
  frontend: any of: frontend/src/, but not: backend/migrations/**/*, backend/*/migrations/**/*, backend/tests/**/*, backend/*/tests/**/*, backend/manage.py, backend/*/wsgi.py, backend/*/asgi.py, backend/config/settings.py, backend/core/celery_config.py, frontend/node_modules/**/*, frontend/dist/**/*, frontend/build/**/*, **/__pycache__/**/*, **/*.pyc, **/test_*.py, **/*_test.py, tests/**/*, **/.venv/**/*, **/venv/**/*
  frontend-unit: any of: frontend/src/, but not: backend/migrations/**/*, backend/*/migrations/**/*, backend/tests/**/*, backend/*/tests/**/*, backend/manage.py, backend/*/wsgi.py, backend/*/asgi.py, backend/config/settings.py, backend/core/celery_config.py, frontend/node_modules/**/*, frontend/dist/**/*, frontend/build/**/*, **/__pycache__/**/*, **/*.pyc, **/test_*.py, **/*_test.py, tests/**/*, **/.venv/**/*, **/venv/**/*
