Repository MegoM2323/Educational-platform-the-bot: changes, and which Codecov flags are due for each by the changed paths.
All: backend, backend-unit, backend-integration, frontend, frontend-unit

.codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error

    patch:
      default:
        target: 70%
        threshold: 5%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

flags:
  backend:
    paths:
      - backend/
    carryforward: true

  backend-unit:
    paths:
      - backend/
    carryforward: true

  backend-integration:
    paths:
      - backend/
    carryforward: true

  frontend:
    paths:
      - frontend/src/
    carryforward: true

  frontend-unit:
    paths:
      - frontend/src/
    carryforward: true

ignore:
  - "backend/migrations/**/*"
  - "backend/*/migrations/**/*"
  - "backend/tests/**/*"
  - "backend/*/tests/**/*"
  - "backend/manage.py"
  - "backend/*/wsgi.py"
  - "backend/*/asgi.py"
  - "backend/config/settings.py"
  - "backend/core/celery_config.py"
  - "frontend/node_modules/**/*"
  - "frontend/dist/**/*"
  - "frontend/build/**/*"
  - "**/__pycache__/**/*"
  - "**/*.pyc"
  - "**/test_*.py"
  - "**/*_test.py"
  - "tests/**/*"
  - "**/.venv/**/*"
  - "**/venv/**/*"

Исправлены критические ошибки аутентификации и добавлен скрипт локального запуска
  .gitignore
  backend/invoices/migrations/0001_initial.py
  start.sh
Due: none

Добавлены management команды для создания полного набора тестовых данных
  backend/assignments/management/commands/create_test_assignments.py
  backend/chat/management/commands/create_test_chats.py
  backend/materials/management/commands/create_test_materials.py
  backend/reports/management/commands/create_test_reports.py
  backend/scheduling/management/commands/create_test_schedule.py
Due: backend, backend-unit, backend-integration

Исправить критические проблемы инициализации Django AppRegistry
  backend/accounts/apps.py
  backend/config/asgi.py
  backend/config/sentry.py
  backend/config/settings.py
  backend/config/wsgi.py
  backend/manage.py
Due: backend, backend-unit, backend-integration

Добавлены management команды для создания полного набора тестовых данных
  TESTING_COMPLETE_REPORT.md
  backend/assignments/management/__init__.py
  backend/assignments/management/commands/__init__.py
  backend/scheduling/management/__init__.py
  backend/scheduling/management/commands/__init__.py
Due: backend, backend-unit, backend-integration

Добавлена ADMIN роль в User.Role enum
  backend/accounts/migrations/0017_alter_user_role.py
  backend/accounts/models.py
Due: backend, backend-unit, backend-integration

Заменить console.error/console.log на правильное логирование
  frontend/e2e/student-dashboard.spec.ts
  frontend/src/hooks/useStudent.ts
Due: frontend, frontend-unit

Добавить Wave 2 тестирование Teacher Dashboard (96 тестов для материалов и прогресса)
  .claude/session_teacher_test_20250107/wave_2_test_results.json
  backend/tests/teacher_dashboard/fixtures.py
  backend/tests/teacher_dashboard/test_materials_management.py
  backend/tests/teacher_dashboard/test_progress_tracking.py
  backend/tests/teacher_dashboard/test_student_distribution.py
  frontend/src/components/dashboard/BookingWidget.tsx
  frontend/src/pages/dashboard/StudentDashboard.tsx
Due: frontend, frontend-unit

Добавить permission classes для Tutor Cabinet Role Support
  .claude/state/progress.json
Due: none

Исправить critical issues в serializers и profile_service для туторского кабинета
  backend/accounts/profile_service.py
  backend/accounts/serializers.py
Due: backend, backend-unit, backend-integration

Добавить Wave 3 тестирование Teacher Dashboard (95 тестов для заданий и оценивания)
  .claude/session_teacher_test_20250107/wave_3_test_results.json
  backend/tests/teacher_dashboard/test_assignments_grading.py
Due: none

Исправить дублирующийся path в /api/accounts/users/create/
  backend/accounts/urls.py
Due: backend, backend-unit, backend-integration

Исправить PostgreSQL deadlock в concurrent тестах
  .claude/state/progress.json
Due: none

Исправить все 40 ошибок Wave 2 тестирования (schema соответствие)
  .claude/session_teacher_test_20250107/WAVE2_FIX_SUMMARY.md
  .claude/session_teacher_test_20250107/wave_2_fix_analysis.json
  backend/tests/teacher_dashboard/test_materials_management.py
  backend/tests/teacher_dashboard/test_progress_tracking.py
  backend/tests/teacher_dashboard/test_student_distribution.py
Due: none

Update progress.json with regression fix results
  .claude/state/progress.json
Due: none

Завершить полное тестирование Teacher Dashboard (243 теста, 98.35% pass rate)
  .claude/session_teacher_test_20250107/DEPLOYMENT_APPROVAL.txt
  .claude/session_teacher_test_20250107/QUICK_REFERENCE.txt
  .claude/session_teacher_test_20250107/README_FINAL.md
  .claude/session_teacher_test_20250107/TEST_RESULTS_BREAKDOWN.md
Due: none

Добавить поле 'success' в response broadcast send endpoint
  .claude/state/progress.json
  backend/notifications/broadcast_views.py
Due: backend, backend-unit, backend-integration

Завершить критичное тестирование личного кабинета родителя (Parent Cabinet)
  .claude/state/progress.json
  backend/invoices/tests/test_websocket_consumer.py
  backend/logs/admin.log
  backend/logs/audit.log
  backend/notifications/__pycache__/broadcast_views.cpython-313.pyc
  frontend/node_modules/.vite/vitest/da39a3ee5e6b4b0d3255bfef95601890afd80709/results.json
Due: backend, backend-unit, backend-integration

Исправить field names в тестах Assignment для соответствия реальной модели
  .claude/state/progress.json
  backend/tests/tutor_cabinet/test_assignments_and_grading_20260107.py
Due: none

Отключить ratelimit в login endpoint для тестирования
  backend/accounts/views.py
Due: backend, backend-unit, backend-integration

Исправление 401 ошибки аутентификации на production
  backend/accounts/backends.py
  backend/accounts/migrations/0018_alter_user_password.py
  backend/accounts/models.py
  backend/accounts/views.py
  backend/config/settings.py
Due: backend, backend-unit, backend-integration

Исправление HTTP 500 ошибок и критических проблем безопасности
  backend/accounts/views.py
  backend/chat/consumers.py
  backend/chat/middleware.py
  backend/chat/migrations/0010_rename_chat_type_enrollment_idx_chat_type_enrollment_idx_v2_and_more.py
  backend/config/asgi.py
  backend/invoices/services.py
  backend/invoices/signals.py
  backend/reports/consumers.py
  backend/scheduling/migrations/0011_alter_lesson_teacher.py
Due: backend, backend-unit, backend-integration

Исправление permissions для удаления сообщений и WebSocket доступа
  backend/chat/consumers.py
  backend/chat/forum_views.py
  backend/chat/permissions.py
  backend/chat/views.py
Due: backend, backend-unit, backend-integration

Исправление критических уязвимостей безопасности в системе чата
  backend/accounts/views.py
  backend/assignments/__pycache__/urls.cpython-313.pyc
  backend/assignments/__pycache__/views_main.cpython-313.pyc
  backend/assignments/urls.py
  backend/assignments/views_main.py
  backend/chat/signals.py
  backend/materials/signals.py
  backend/tests/test_chat_special_scenarios.py
Due: backend, backend-unit, backend-integration

Оптимизация N+1 queries в assignments ViewSets через select_related и prefetch_related
  .claude/state/progress.json
  backend/assignments/views_main.py
Due: backend, backend-unit, backend-integration

Исправить HTTP 500 в AvailableContactsView при отсутствии StudentProfile
  backend/chat/forum_views.py
  backend/tests/test_available_contacts_view.py
Due: backend, backend-unit, backend-integration

Добавить E2E тесты через Playwright + доработки после deployment
  .claude/state/issues.json
  .claude/state/progress.json
  backend/chat/__pycache__/forum_views.cpython-313.pyc
  backend/logs/audit.log
  backend/logs/error.log
  backend/tests/conftest.py
  backend/tests/test_e2e_chat_flow.py
  dump.rdb
Due: backend, backend-unit, backend-integration

Исправить TransactionManagementError в AvailableContactsView
  .claude/state/progress.json
  backend/chat/__pycache__/forum_views.cpython-313.pyc
  backend/chat/forum_views.py
  backend/tests/test_e2e_chat_flow.py
Due: backend, backend-unit, backend-integration
