Repository MegoM2323/Educational-platform-the-bot: changes, and which Codecov flags are due for each by the changed paths.
All: backend, backend-unit, backend-integration, frontend, frontend-unit

.codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error

    patch:
      default:
        target: 70%
        threshold: 5%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

flags:
  backend:
    paths:
      - backend/
    carryforward: true

  backend-unit:
    paths:
      - backend/
    carryforward: true

  backend-integration:
    paths:
      - backend/
    carryforward: true

  frontend:
    paths:
      - frontend/src/
    carryforward: true

  frontend-unit:
    paths:
      - frontend/src/
    carryforward: true

ignore:
  - "backend/migrations/**/*"
  - "backend/*/migrations/**/*"
  - "backend/tests/**/*"
  - "backend/*/tests/**/*"
  - "backend/manage.py"
  - "backend/*/wsgi.py"
  - "backend/*/asgi.py"
  - "backend/config/settings.py"
  - "backend/core/celery_config.py"
  - "frontend/node_modules/**/*"
  - "frontend/dist/**/*"
  - "frontend/build/**/*"
  - "**/__pycache__/**/*"
  - "**/*.pyc"
  - "**/test_*.py"
  - "**/*_test.py"
  - "tests/**/*"
  - "**/.venv/**/*"
  - "**/venv/**/*"

Добавлено резюме выполнения Task T_DEV_037
  logging/TASK_COMPLETION_SUMMARY.md
Due: none

Реализована комплексная система мониторинга доступности (T_DEV_041B)
  backend/config/sentry.py
  backend/config/settings.py
  backend/core/health_extended.py
  backend/core/urls.py
  backend/requirements.txt
  frontend/src/utils/sentry.ts
  frontend/vite.config.ts
  monitoring/uptime/T_DEV_041B_IMPLEMENTATION.md
  monitoring/uptime/UPTIME_MONITORING_GUIDE.md
  monitoring/uptime/checks.yml
  monitoring/uptime/config.yml
  monitoring/uptime/status-page.yml
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Реализована распределённая трассировка с OpenTelemetry и Jaeger
  .env.staging.example
  .gitignore
  backend/config/middleware/correlation_id_middleware.py
  backend/config/tracing.py
  docker-compose.tracing.yml
  docs/ERROR_TRACKING.md
  frontend/package.json
  monitoring/tracing/EXAMPLE_USAGE.md
  monitoring/tracing/IMPLEMENTATION_CHECKLIST.md
  monitoring/tracing/QUICK_START.md
  monitoring/tracing/SETUP_AND_INTEGRATION.md
  monitoring/tracing/jaeger-config.yml
  monitoring/tracing/jaeger-sampling-strategies.json
  monitoring/tracing/otel-config.yml
  monitoring/tracing/prometheus-tracing.yml
  monitoring/tracing/tracing_rules.yml
Due: backend, backend-unit, backend-integration

Реализована система тестирования восстановления после бедствий (DR Testing)
  docs/runbooks/DR_PROCEDURES.md
  scripts/disaster-recovery/README.md
  scripts/disaster-recovery/dr-test.sh
  scripts/disaster-recovery/failover-test.sh
  scripts/disaster-recovery/integrated-dr-test.sh
  scripts/disaster-recovery/restore-test.sh
Due: none

Документирование готовности платформы к продакшену
  docs/reports/deployment_infrastructure_checklist.md
  docs/reports/environment_configuration_summary.md
  docs/reports/production_readiness_report.md
Due: none

Финальный отчет о верификации готовности платформы к production
  PRODUCTION_READINESS_VERIFICATION_SUMMARY.md
Due: none

T_VERIFY_007: Завершение верификации готовности платформы к production
  TASK_COMPLETION_REPORT_T_VERIFY_007.md
Due: none

Реализована функциональность редактирования и удаления сообщений в форуме
  backend/chat/forum_views.py
  backend/chat/models.py
  backend/chat/permissions.py
  backend/chat/serializers.py
  backend/chat/views.py
  docker-compose.yml
  frontend/src/components/forum/EditMessageDialog.tsx
  frontend/src/components/forum/MessageActions.tsx
  frontend/src/hooks/useForumMessageDelete.ts
  frontend/src/hooks/useForumMessageUpdate.ts
  frontend/src/integrations/api/forumAPI.ts
  frontend/src/pages/dashboard/Forum.tsx
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Исправлена несовместимость миграций с Python 3.13 и SQLite
  backend/assignments/migrations/0014_add_optimization_indexes.py
  backend/assignments/models.py
  backend/chat/migrations/0006_add_optimization_indexes.py
  backend/knowledge_graph/migrations/0003_add_optimization_indexes.py
Due: backend, backend-unit, backend-integration

Исправлена функциональность чата - полный рефакторинг
  backend/accounts/management/commands/create_test_relationships.py
  backend/chat/management/commands/fix_chat_participants.py
  backend/chat/migrations/0007_remove_chatroom_chatroom_created_by_idx_and_more.py
  backend/core/rate_limiting.py
  frontend/src/components/forum/__tests__/EditMessageDialog.test.tsx
  frontend/src/components/forum/__tests__/MessageActions.test.tsx
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Исправлена функциональность чата
  backend/accounts/signals.py
  backend/chat/consumers.py
  backend/chat/forum_views.py
  backend/chat/permissions.py
  frontend/src/App.tsx
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Исправлены критические баги форума и чата
  backend/chat/consumers.py
  backend/chat/forum_views.py
  frontend/src/hooks/useForumMessageDelete.ts
  frontend/src/hooks/useForumMessageUpdate.ts
  frontend/src/hooks/useForumMessages.ts
  frontend/src/pages/dashboard/Forum.tsx
  frontend/vite.config.ts
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Исправлена задержка отправки сообщений и мгновенное отображение
  frontend/src/hooks/useForumMessages.ts
  frontend/src/pages/dashboard/Forum.tsx
Due: frontend, frontend-unit

Улучшен UI форума: фикс layout чата и убраны лишние элементы
  frontend/src/pages/dashboard/Forum.tsx
Due: frontend, frontend-unit

Исправлен скролл чата: только сообщения листаются, страница фиксирована
  frontend/src/pages/dashboard/Forum.tsx
Due: frontend, frontend-unit

Исправлено отображение отправляемых сообщений на правильной стороне
  frontend/src/hooks/useForumMessages.ts
Due: frontend, frontend-unit

Исправлена ошибка 500 при отправке сообщений без Celery
  backend/chat/signals.py
Due: backend, backend-unit, backend-integration

Добавлена возможность отправки файлов в форуме
  backend/chat/forum_views.py
  backend/chat/serializers.py
  backend/chat/services/__init__.py
  backend/chat/services/file_validation.py
  frontend/src/hooks/useForumMessages.ts
  frontend/src/integrations/api/forumAPI.ts
  frontend/src/pages/dashboard/Forum.tsx
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Исправлена кнопка прикрепления файла в форуме
  frontend/src/pages/dashboard/Forum.tsx
Due: frontend, frontend-unit

Исправлена загрузка файлов в форуме
  backend/chat/migrations/0008_allow_blank_message_content.py
  backend/chat/models.py
  backend/chat/serializers.py
  backend/core/validators.py
  backend/invoices/migrations/0001_initial.py
Due: backend, backend-unit, backend-integration

Исправлен статус WebSocket соединения в форуме
  frontend/src/pages/dashboard/Forum.tsx
Due: frontend, frontend-unit

Убран избыточный баннер "Соединение потеряно" в форуме
  frontend/src/pages/dashboard/Forum.tsx
Due: frontend, frontend-unit

Исправлено отображение файлов в чате
  backend/chat/forum_views.py
  backend/core/media_views.py
Due: backend, backend-unit, backend-integration

Исправлена конфигурация Docker и зависимостей Python
  backend/Dockerfile
  backend/invoices/migrations/0001_initial.py
  backend/requirements.txt
Due: backend, backend-unit, backend-integration

Исправлен Docker и роутинг дашбордов
  backend/invoices/models.py
  frontend/src/components/ProtectedRoute.tsx
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Уменьшен отступ сверху на дашборде студента
  frontend/src/pages/dashboard/StudentDashboard.tsx
Due: frontend, frontend-unit

Исправлен WebSocket в Docker
  docker-compose.yml
Due: none

Убрана привязка локальной папки dist в frontend сервис
  docker-compose.yml
Due: none

Реализована role-based проверка доступа к WebSocket каналам
  backend/chat/consumers.py
Due: backend, backend-unit, backend-integration

Исправлена работа расписания для всех ролей пользователей
  backend/scheduling/parent_views.py
  backend/scheduling/permissions.py
  backend/scheduling/services/lesson_service.py
  backend/scheduling/urls.py
  backend/scheduling/views.py
  frontend/src/components/admin/LessonDetailModal.tsx
  frontend/src/components/scheduling/student/LessonCard.tsx
  frontend/src/components/scheduling/teacher/LessonRow.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useParentChildSchedule.ts
  frontend/src/integrations/api/schedulingAPI.ts
  frontend/src/pages/admin/AdminSchedulePage.tsx
  frontend/src/pages/dashboard/ParentSchedulePage.tsx
  frontend/src/types/scheduling.ts
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Исправлено отображение имени ребенка в расписании родителя
  frontend/src/pages/dashboard/ParentSchedulePage.tsx
Due: frontend, frontend-unit

Fix Django APPEND_SLASH configuration to prevent 500 errors on POST requests
  backend/config/settings.py
Due: none

Реализована стабильная версия форума с исправлениями критических багов
  backend/accounts/urls.py
  backend/chat/consumers.py
  backend/chat/forum_views.py
  backend/chat/general_chat_service.py
  backend/chat/migrations/0009_add_message_indexes.py
  backend/chat/models.py
  backend/chat/serializers.py
  backend/chat/services/admin_chat_service.py
  backend/chat/signals.py
  backend/chat/views.py
  backend/invoices/migrations/0001_initial.py
  backend/invoices/migrations/0002_fix_partial_indexes.py
  backend/invoices/models.py
  frontend/message-validation.patch
  frontend/src/components/forum/MessageInputCounter.tsx
  frontend/src/components/scheduling/teacher/LessonForm.tsx
  frontend/src/hooks/useForumChats.ts
  frontend/src/hooks/useForumMessageDelete.ts
  frontend/src/hooks/useForumMessageUpdate.ts
  frontend/src/hooks/useForumMessages.ts
  frontend/src/hooks/useTeacherLessons.ts
  frontend/src/integrations/api/forumAPI.ts
  frontend/src/pages/dashboard/Forum.tsx
  frontend/src/pages/dashboard/TeacherSchedulePage.tsx
  frontend/src/pages/dashboard/TutorSchedulePage.tsx
  frontend/src/pages/dashboard/__tests__/Forum.test.tsx
  frontend/src/schemas/lesson.ts
  frontend/src/services/chatWebSocketService.ts
  frontend/src/services/websocketService.ts
  frontend/src/utils/messageValidation.ts
  frontend/test-results/.last-run.json
  frontend/test-results/index.html
  frontend/test-results/results.json
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Исправлена валидация при редактировании урока - добавлены z.any() для полей student и subject
  backend/chat/consumers.py
  backend/chat/forum_views.py
  backend/chat/models.py
  frontend/src/hooks/useForumMessages.ts
  frontend/src/hooks/useTeacherLessons.ts
  frontend/src/integrations/api/schedulingAPI.ts
  frontend/src/pages/dashboard/Forum.tsx
  frontend/src/schemas/lesson.ts
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Исправлено редактирование уроков в расписании
  REACT_ERROR_306_FIX.md
  TEST_REPORT_LESSON_EDIT.md
  backend/chat/consumers.py
  backend/chat/forum_views.py
  backend/chat/models.py
  backend/chat/permissions.py
  backend/chat/serializers.py
  backend/chat/views.py
  backend/config/settings.py
  frontend/src/components/scheduling/teacher/LessonForm.tsx
  frontend/src/hooks/useForumMessages.ts
  frontend/src/hooks/useTeacherLessons.ts
  frontend/src/integrations/api/schedulingAPI.ts
  frontend/src/integrations/api/unifiedClient.ts
  frontend/src/pages/admin/AdminChatsPage.tsx
  frontend/src/pages/dashboard/Chat.tsx
  frontend/src/pages/dashboard/Forum.tsx
  frontend/src/pages/dashboard/ParentSchedulePage.tsx
  frontend/src/pages/dashboard/StudentSchedulePage.tsx
  frontend/src/pages/dashboard/TeacherDashboard.tsx
  frontend/src/pages/dashboard/TutorDashboard.tsx
  frontend/src/pages/dashboard/TutorSchedulePage.tsx
  frontend/src/pages/dashboard/__tests__/Forum.test.tsx
  frontend/src/pages/dashboard/student/Assignments.tsx
  frontend/src/pages/dashboard/student/Materials.tsx
  frontend/src/pages/dashboard/teacher/Assignments.tsx
  frontend/src/pages/dashboard/teacher/ContentCreatorTab.tsx
  frontend/src/pages/dashboard/teacher/ProgressViewerTab.tsx
  frontend/src/schemas/lesson.ts
  frontend/src/services/cacheService.ts
  frontend/src/services/chatWebSocketService.ts
  frontend/test_forum_fix.html
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Исправлена стабильная версия форума с критическими багфиксами
  backend/chat/forum_views.py
  backend/chat/permissions.py
  frontend/src/components/forum/MessageInputCounter.tsx
  frontend/src/hooks/useForumMessageDelete.ts
  frontend/src/hooks/useForumMessageUpdate.ts
  frontend/src/hooks/useForumMessages.ts
  frontend/src/integrations/api/forumAPI.ts
  frontend/src/pages/dashboard/Forum.tsx
  frontend/src/pages/dashboard/ParentDashboard.tsx
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Синхронизирована миграция БД и применены все pending миграции
  backend/notifications/migrations/0017_add_notification_scope.py
Due: none
