Repository MegoM2323/Educational-platform-the-bot: changes, and which Codecov flags are due for each by the changed paths.
All: backend, backend-unit, backend-integration, frontend, frontend-unit

Исправлена кнопка удаления урока - добавлена обработка ошибок
  frontend/src/hooks/useTeacherLessons.ts
  frontend/src/pages/dashboard/TeacherSchedulePage.tsx
Due: frontend, frontend-unit

Исправлена проблема загрузки списка форумных чатов
  backend/celerybeat-schedule-shm
  backend/celerybeat-schedule-wal
  backend/tests/integration/scheduling/test_lesson_delete_validation.py
  frontend/src/hooks/useForumChats.ts
  frontend/src/pages/dashboard/Forum.tsx
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Исправлена кнопка "Add Lesson" - добавлен type="button" и отдельный обработчик
  frontend/src/pages/dashboard/TeacherSchedulePage.tsx
Due: frontend, frontend-unit

Завершён спринт по исправлению критических багов форума и расписания
  backend/celerybeat-schedule-shm
  backend/celerybeat-schedule-wal
  student_schedule_detailed.png
  student_schedule_screenshot.png
  teacher_schedule_form_open.png
  teacher_schedule_screenshot.png
  tutor_schedule_screenshot.png
Due: backend, backend-unit, backend-integration

Создана команда для обеспечения TeacherProfile для всех преподавателей
  backend/accounts/management/commands/ensure_teacher_profiles.py
Due: backend, backend-unit, backend-integration

Исправлены ошибки аутентификации в тестах (500 Internal Server Error)
  backend/tests/conftest.py
  backend/tests/fixtures/supabase.py
Due: none

Включён WebSocket и устранены хардкоженные Supabase credentials
  backend/config/settings.py
  frontend/.env.local
Due: none

Оптимизация запросов в student dashboard: устранение N+1 query через Prefetch
  backend/materials/student_dashboard_service.py
  backend/tests/unit/materials/test_dashboard_query_optimization.py
Due: backend, backend-unit, backend-integration

Добавлено полное покрытие тестами для useForumChats хука
  frontend/src/__tests__/integration/forum-chats.test.tsx
  frontend/src/hooks/__tests__/useForumChats.test.ts
  frontend/tests/e2e/forum/forum-chat-list-loading.spec.ts
Due: frontend, frontend-unit

Добавлена система мониторинга Celery задач
  backend/core/admin.py
  backend/core/migrations/0001_initial.py
  backend/core/migrations/__init__.py
  backend/core/models.py
  backend/core/monitoring_views.py
  backend/core/tasks.py
  backend/core/urls.py
  backend/materials/management/commands/process_subscription_payments.py
  backend/tests/unit/core/test_celery_monitoring.py
Due: backend, backend-unit, backend-integration

Исправлены тесты: query count assertions, ChatRoom field filters, message response handling
  backend/tests/integration/accounts/test_teacher_profile_api.py
  backend/tests/integration/chat/test_forum_system_integration.py
Due: none

Исправлены тесты форума: patch function name, message response handling, sender serialization
  backend/tests/integration/chat/test_forum_system_integration.py
Due: none

Исправлена ошибка маршрутизации URL в админ-панели
  backend/accounts/urls.py
Due: backend, backend-unit, backend-integration

Исправлены все тесты API для студентов тьютора
  backend/tests/integration/materials/test_tutor_students_api.py
Due: none

Реализован OpenRouterService для генерации учебных материалов
  backend/materials/services/__init__.py
  backend/materials/services/latex_compiler.py
  backend/materials/services/openrouter_service.py
Due: backend, backend-unit, backend-integration

Добавлены unit тесты для LaTeX Compiler Service и руководство по установке
  backend/tests/unit/materials/services/__init__.py
  backend/tests/unit/materials/services/test_latex_compiler.py
Due: none

Реализована страница AI генератора учебных планов для преподавателей
  frontend/src/App.tsx
  frontend/src/components/layout/TeacherSidebar.tsx
  frontend/src/hooks/useStudyPlan.ts
  frontend/src/pages/dashboard/TeacherStudyPlanGeneratorPage.tsx
Due: frontend, frontend-unit

Завершён анализ Unit Tests - Forum Backend
  TEST_ANALYSIS_T006_FORUM_BACKEND.md
  backend/materials/migrations/0016_add_progress_message.py
  backend/materials/models.py
  backend/materials/study_plan_views.py
  backend/materials/tasks.py
  backend/materials/urls.py
  backend/pytest.ini
  backend/tests/integration/materials/test_study_plan_api.py
  backend/tests/unit/materials/services/test_latex_compiler.py
  backend/tests/unit/materials/services/test_openrouter_service.py
  backend/tests/unit/materials/test_async_generation.py
  frontend/src/integrations/api/studyPlanAPI.ts
  frontend/test-results/.last-run.json
  frontend/test-results/index.html
  frontend/test-results/results.json
  frontend/tests/e2e/study-plan-generator.spec.ts
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

E2E тесты расписания - Infrastructure Analysis & Test Creation
  backend/tests/unit/chat/test_forum_filtering_fix.py
  backend/tests/unit/chat/test_forum_messaging_comprehensive.py
  backend/tests/unit/chat/test_forum_models.py
  backend/tests/unit/chat/test_forum_signals.py
  backend/tests/unit/chat/test_forum_visibility_comprehensive.py
  frontend/node_modules/.vite/deps/@radix-ui_react-alert-dialog.js
  frontend/node_modules/.vite/deps/@radix-ui_react-checkbox.js
  frontend/node_modules/.vite/deps/@radix-ui_react-dialog.js
  frontend/node_modules/.vite/deps/@radix-ui_react-radio-group.js
  frontend/node_modules/.vite/deps/@radix-ui_react-scroll-area.js
  frontend/node_modules/.vite/deps/@radix-ui_react-select.js
  frontend/node_modules/.vite/deps/@radix-ui_react-tabs.js
  frontend/node_modules/.vite/deps/@radix-ui_react-toast.js
  frontend/node_modules/.vite/deps/@radix-ui_react-tooltip.js
  frontend/node_modules/.vite/deps/_metadata.json
  frontend/node_modules/.vite/deps/date-fns.js
  frontend/node_modules/.vite/deps/date-fns_locale.js
  frontend/test-results/.last-run.json
  frontend/test-results/index.html
  frontend/test-results/results.json
  frontend/tests/e2e/scheduling/e2e-test-all-roles.spec.ts
Due: none

Исправлена критическая ошибка белой страницы при запуске сайта
  frontend/src/contexts/AuthContext.tsx
  frontend/src/services/authService.ts
  frontend/test-results/.last-run.json
  frontend/test-results/index.html
  frontend/test-results/results.json
  frontend/tests/e2e/helpers/auth.ts
  start_no_proxy.sh
Due: frontend, frontend-unit

Исправлен критический баг белого экрана - logger import был закомментирован
  backend/tests/test_white_screen_fix.spec.ts
  frontend/src/services/websocketService.ts
  frontend/test-results/.last-run.json
  frontend/test-results/index.html
  frontend/test-results/results.json
  frontend/tests/e2e/debug-console.spec.ts
  frontend/tests/e2e/manual-verification.spec.ts
  frontend/tests/e2e/white-screen-fix.spec.ts
  test_white_screen_manual.ts
Due: frontend, frontend-unit

Исправлена проблема авторизации после логина - ProtectedRoute теперь учитывает AuthContext
  frontend/src/components/ProtectedRoute.tsx
  manual_student_test.ts
  tests/student_role_complete_e2e.spec.ts
Due: frontend, frontend-unit

Исправлена race condition в useProfile.enabled - убрана проверка !!authUser
  frontend/src/hooks/useProfile.ts
  frontend/test-results/.last-run.json
  frontend/test-results/01-login-page.png
  frontend/test-results/02-before-login.png
  frontend/test-results/03-student-dashboard.png
  frontend/test-results/04-dashboard-full.png
  frontend/test-results/e2e-student-workflow-compl-15402-ario-2-Dashboard-Navigation-chromium/error-context.md
  frontend/test-results/e2e-student-workflow-compl-15402-ario-2-Dashboard-Navigation-chromium/test-failed-1.png
  frontend/test-results/e2e-student-workflow-compl-15402-ario-2-Dashboard-Navigation-chromium/video.webm
  frontend/test-results/e2e-student-workflow-compl-6e2f7-on-Scenario-3-Schedule-Page-chromium/error-context.md
  frontend/test-results/e2e-student-workflow-compl-6e2f7-on-Scenario-3-Schedule-Page-chromium/test-failed-1.png
  frontend/test-results/e2e-student-workflow-compl-6e2f7-on-Scenario-3-Schedule-Page-chromium/video.webm
  frontend/test-results/e2e-student-workflow-compl-7560a-ation-Scenario-4-Forum-Page-chromium/error-context.md
  frontend/test-results/e2e-student-workflow-compl-7560a-ation-Scenario-4-Forum-Page-chromium/test-failed-1.png
  frontend/test-results/e2e-student-workflow-compl-7560a-ation-Scenario-4-Forum-Page-chromium/video.webm
  frontend/test-results/e2e-student-workflow-compl-f4255--Fix-Verification-CRITICAL--chromium/error-context.md
  frontend/test-results/e2e-student-workflow-compl-f4255--Fix-Verification-CRITICAL--chromium/test-failed-1.png
  frontend/test-results/e2e-student-workflow-compl-f4255--Fix-Verification-CRITICAL--chromium/video.webm
  frontend/tests/e2e/student-workflow-complete.spec.ts
Due: frontend, frontend-unit

Добавлен отсутствующий import logger в tokenStorage.ts
  frontend/node_modules/.vite/deps/_metadata.json
  frontend/node_modules/.vite/deps/date-fns.js
  frontend/node_modules/.vite/deps/date-fns_locale.js
  frontend/src/services/tokenStorage.ts
  frontend/test-results/.last-run.json
  frontend/test-results/01-login-page.png
  frontend/test-results/02-before-login.png
  frontend/test-results/03-student-dashboard.png
  frontend/test-results/04-dashboard-full.png
  frontend/test-results/e2e-student-workflow-compl-15402-ario-2-Dashboard-Navigation-chromium/error-context.md
  frontend/test-results/e2e-student-workflow-compl-15402-ario-2-Dashboard-Navigation-chromium/test-failed-1.png
  frontend/test-results/e2e-student-workflow-compl-15402-ario-2-Dashboard-Navigation-chromium/video.webm
  frontend/test-results/e2e-student-workflow-compl-6e2f7-on-Scenario-3-Schedule-Page-chromium/error-context.md
  frontend/test-results/e2e-student-workflow-compl-6e2f7-on-Scenario-3-Schedule-Page-chromium/test-failed-1.png
  frontend/test-results/e2e-student-workflow-compl-6e2f7-on-Scenario-3-Schedule-Page-chromium/video.webm
  frontend/test-results/e2e-student-workflow-compl-7560a-ation-Scenario-4-Forum-Page-chromium/error-context.md
  frontend/test-results/e2e-student-workflow-compl-7560a-ation-Scenario-4-Forum-Page-chromium/test-failed-1.png
  frontend/test-results/e2e-student-workflow-compl-7560a-ation-Scenario-4-Forum-Page-chromium/video.webm
  frontend/test-results/e2e-student-workflow-compl-f4255--Fix-Verification-CRITICAL--chromium/error-context.md
  frontend/test-results/e2e-student-workflow-compl-f4255--Fix-Verification-CRITICAL--chromium/test-failed-1.png
  frontend/test-results/e2e-student-workflow-compl-f4255--Fix-Verification-CRITICAL--chromium/video.webm
  frontend/tests/e2e/check-login-console-errors.spec.ts
  frontend/tests/e2e/check-login-response.spec.ts
  frontend/tests/e2e/debug-login-detailed.spec.ts
  frontend/tests/e2e/debug-login.spec.ts
  frontend/tests/e2e/student-login-fix-test.spec.ts
Due: frontend, frontend-unit

Написаны полные тесты для admin chat API - 58 тестов пройдены
  backend/tests/integration/chat/test_admin_chat_views.py
  backend/tests/unit/chat/test_admin_chat_service.py
Due: none

Добавлены E2E тесты для AdminChatsPage
  frontend/tests/e2e/admin-chats.spec.ts
Due: none

Добавлены E2E тесты для AdminSchedulePage
  frontend/tests/e2e/admin/admin-schedule.spec.ts
  frontend/tests/e2e/helpers/admin-dashboard-helpers.ts
Due: none

Добавлен отчет о результатах E2E тестов AdminSchedulePage
  TEST_RESULTS_ADMIN_SCHEDULE.md
Due: none

Добавлена вкладка Content Creator для управления элементами и уроками
  frontend/node_modules/.package-lock.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/hooks/__tests__/useLessonProgress.test.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useContentCreator.ts
  frontend/src/hooks/useKnowledgeGraph.ts
  frontend/src/hooks/useLessonProgress.ts
  frontend/src/hooks/useStudentProgress.ts
  frontend/src/hooks/useTeacherGraphEditor.ts
  frontend/src/integrations/api/knowledgeGraphAPI.ts
  frontend/src/integrations/api/progressViewerAPI.ts
  frontend/src/pages/dashboard/student/KNOWLEDGE_GRAPH_README.md
  frontend/src/pages/dashboard/student/KnowledgeGraphTab.example.tsx
  frontend/src/pages/dashboard/student/KnowledgeGraphTab.tsx
  frontend/src/pages/dashboard/teacher/ContentCreatorTab.example.tsx
  frontend/src/pages/dashboard/teacher/ContentCreatorTab.tsx
  frontend/src/pages/dashboard/teacher/GraphEditorTab.tsx
  frontend/src/pages/dashboard/teacher/ProgressViewerTab.README.md
  frontend/src/pages/dashboard/teacher/ProgressViewerTab.tsx
  frontend/src/pages/dashboard/teacher/__tests__/ContentCreatorTab.test.tsx
  frontend/src/pages/lessons/LessonViewer.tsx
  frontend/src/services/contentCreatorService.ts
  frontend/src/services/lessonService.ts
  frontend/src/types/knowledgeGraph.ts
Due: frontend, frontend-unit

Добавлены документы итоговых результатов QA тестирования for Created comprehensive documentation explaining the blocking issue:
  STATUS_T801_T804.md
Due: none

Интеграция компонентов Knowledge Graph в дашборды студента и преподавателя
  frontend/src/App.tsx
  frontend/src/components/layout/StudentSidebar.tsx
  frontend/src/components/layout/TeacherSidebar.tsx
  frontend/src/pages/dashboard/student/KnowledgeGraphPage.tsx
  frontend/src/pages/dashboard/teacher/ContentCreatorPage.tsx
  frontend/src/pages/dashboard/teacher/GraphEditorPage.tsx
  frontend/src/pages/dashboard/teacher/ProgressViewerPage.tsx
Due: frontend, frontend-unit

Добавлены comprehensive E2E тесты для Knowledge Graph системы (-)
  T605.1_INTEGRATION_COMPLETE.md
Due: none

Система Knowledge Graph: Complete Implementation and Testing
  frontend/node_modules/.vite/deps/@radix-ui_react-alert-dialog.js
  frontend/node_modules/.vite/deps/@radix-ui_react-dialog.js
  frontend/node_modules/.vite/deps/@radix-ui_react-radio-group.js
  frontend/node_modules/.vite/deps/@radix-ui_react-scroll-area.js
  frontend/node_modules/.vite/deps/@radix-ui_react-select.js
  frontend/node_modules/.vite/deps/@radix-ui_react-tabs.js
  frontend/node_modules/.vite/deps/@radix-ui_react-toast.js
  frontend/node_modules/.vite/deps/@radix-ui_react-tooltip.js
  frontend/node_modules/.vite/deps/_metadata.json
Due: none

Исправлена критическая проблема Knowledge Graph - интегрированы формы создания элементов и уроков
  frontend/src/pages/dashboard/teacher/ContentCreatorPage.tsx
Due: frontend, frontend-unit

Исправлено создание элемента: преобразование content в JSON объект на основе типа элемента
  REAL_DIAGNOSTICS.md
  backend/KNOWLEDGE_GRAPH_API_DIAGNOSTICS.md
  backend/test_kg_api.py
  frontend/src/pages/dashboard/teacher/ContentCreatorPage.tsx
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Реализована интеграция Telegram бота для отправки счетов
  backend/accounts/migrations/0007_add_telegram_id_to_profiles.py
  backend/accounts/models.py
  backend/invoices/services.py
  backend/invoices/telegram_service.py
Due: backend, backend-unit, backend-integration

Path conditions:
  backend: any of: backend/, but not: backend/migrations/**/*, backend/*/migrations/**/*, backend/tests/**/*, backend/*/tests/**/*, backend/manage.py, backend/*/wsgi.py, backend/*/asgi.py, backend/config/settings.py, backend/core/celery_config.py, frontend/node_modules/**/*, frontend/dist/**/*, frontend/build/**/*, **/__pycache__/**/*, **/*.pyc, **/test_*.py, **/*_test.py, tests/**/*, **/.venv/**/*, **/venv/**/*
  backend-unit: any of: backend/, but not: backend/migrations/**/*, backend/*/migrations/**/*, backend/tests/**/*, backend/*/tests/**/*, backend/manage.py, backend/*/wsgi.py, backend/*/asgi.py, backend/config/settings.py, backend/core/celery_config.py, frontend/node_modules/**/*, frontend/dist/**/*, frontend/build/**/*, **/__pycache__/**/*, **/*.pyc, **/test_*.py, **/*_test.py, tests/**/*, **/.venv/**/*, **/venv/**/*
  backend-integration: any of: backend/, but not: backend/migrations/**/*, backend/*/migrations/**/*, backend/tests/**/*, backend/*/tests/**/*, backend/manage.py, backend/*/wsgi.py, backend/*/asgi.py, backend/config/settings.py, backend/core/celery_config.py, frontend/node_modules/**/*, frontend/dist/**/*, frontend/build/**/*, **/__pycache__/**/*, **/*.pyc, **/test_*.py, **/*_test.py, tests/**/*, **/.venv/**/*, **/venv/**/*
  frontend: any of: frontend/src/, but not: backend/migrations/**/*, backend/*/migrations/**/*, backend/tests/**/*, backend/*/tests/**/*, backend/manage.py, backend/*/wsgi.py, backend/*/asgi.py, backend/config/settings.py, backend/core/celery_config.py, frontend/node_modules/**/*, frontend/dist/**/*, frontend/build/**/*, **/__pycache__/**/*, **/*.pyc, **/test_*.py, **/*_test.py, tests/**/*, **/.venv/**/*, **/venv/**/*
  frontend-unit: any of: frontend/src/, but not: backend/migrations/**/*, backend/*/migrations/**/*, backend/tests/**/*, backend/*/tests/**/*, backend/manage.py, backend/*/wsgi.py, backend/*/asgi.py, backend/config/settings.py, backend/core/celery_config.py, frontend/node_modules/**/*, frontend/dist/**/*, frontend/build/**/*, **/__pycache__/**/*, **/*.pyc, **/test_*.py, **/*_test.py, tests/**/*, **/.venv/**/*, **/venv/**/*
