Repository MegoM2323/Educational-platform-the-bot: changes, and which Codecov flags are due for each by the changed paths.
All: backend, backend-unit, backend-integration, frontend, frontend-unit

.codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error

    patch:
      default:
        target: 70%
        threshold: 5%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

flags:
  backend:
    paths:
      - backend/
    carryforward: true

  backend-unit:
    paths:
      - backend/
    carryforward: true

  backend-integration:
    paths:
      - backend/
    carryforward: true

  frontend:
    paths:
      - frontend/src/
    carryforward: true

  frontend-unit:
    paths:
      - frontend/src/
    carryforward: true

ignore:
  - "backend/migrations/**/*"
  - "backend/*/migrations/**/*"
  - "backend/tests/**/*"
  - "backend/*/tests/**/*"
  - "backend/manage.py"
  - "backend/*/wsgi.py"
  - "backend/*/asgi.py"
  - "backend/config/settings.py"
  - "backend/core/celery_config.py"
  - "frontend/node_modules/**/*"
  - "frontend/dist/**/*"
  - "frontend/build/**/*"
  - "**/__pycache__/**/*"
  - "**/*.pyc"
  - "**/test_*.py"
  - "**/*_test.py"
  - "tests/**/*"
  - "**/.venv/**/*"
  - "**/venv/**/*"

Комплексное исправление системы управления учебным процессом
  backend/.claude/state/progress.json
  backend/accounts/models.py
  backend/accounts/profile_serializers.py
  backend/accounts/profile_views.py
  backend/accounts/serializers.py
  backend/accounts/signals.py
  backend/accounts/staff_views.py
  backend/accounts/tutor_serializers.py
  backend/accounts/tutor_views.py
  backend/chat/migrations/0010_convert_enrollment_to_fk.py
  backend/chat/migrations/0011_alter_chatroom_enrollment.py
  backend/materials/cache_utils.py
  backend/materials/migrations/0035_alter_subjectenrollment_unique_together_and_more.py
  backend/materials/models.py
  backend/materials/signals.py
  backend/materials/tutor_dashboard_service.py
  backend/materials/tutor_dashboard_views.py
  backend/reports/models.py
  frontend/src/components/admin/ConfirmDeleteDialog.tsx
  frontend/src/integrations/api/adminAPI.ts
  frontend/src/pages/admin/AdminLayout.tsx
  frontend/src/pages/admin/sections/ParentSection.tsx
  frontend/src/pages/admin/sections/StudentSection.tsx
  frontend/src/pages/admin/sections/TeacherSection.tsx
  frontend/src/pages/admin/sections/TutorSection.tsx
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Исправить ошибки отображения в админ-панели
  frontend/src/integrations/api/adminAPI.ts
  frontend/src/integrations/api/unifiedClient.ts
  frontend/src/pages/admin/AccountManagement.tsx
  frontend/src/pages/admin/StudentManagement.tsx
  frontend/src/pages/admin/UserManagement.tsx
  frontend/src/pages/admin/sections/ParentSection.tsx
Due: frontend, frontend-unit

Оптимизация модели StudentProfile и система управления зачислениями
  backend/.claude/state/progress.json
  backend/accounts/migrations/0013_fix_studentprofile_grade_field.py
  backend/accounts/models.py
  backend/accounts/profile_serializers.py
  backend/accounts/profile_views.py
  backend/accounts/serializers.py
  backend/accounts/staff_views.py
  backend/materials/cache_utils.py
  backend/materials/signals.py
Due: backend, backend-unit, backend-integration

Финальное усиление безопасности системы управления учебным процессом
  backend/.claude/state/progress.json
  backend/accounts/signals.py
Due: backend, backend-unit, backend-integration

Исправление CASCADE delete и оптимизация тестов для аудита родительского кабинета
  backend/.claude/state/progress.json
  backend/TEST_SUITE_EXECUTION_REPORT.md
  backend/accounts/migrations/0014_alter_studentprofile_parent_on_delete.py
  backend/accounts/migrations/0015_fix_parent_fk_cascade_action.py
Due: backend, backend-unit, backend-integration

Реализовать pre-deploy-check.sh с 22 проверками развертывания
  scripts/deployment/pre-deploy-check.sh
Due: none

Система развертывания THE_BOT Platform - полная готовность к production
  DEPLOYMENT_STATUS.txt
Due: none

Восстановить universal-deploy.sh - главный скрипт оркестрации
  scripts/deployment/universal-deploy.sh
Due: none

Подготовка к production деплою - обновление конфигов и скриптов
  dump.rdb
  scripts/deployment/deploy_server_config.sh
  scripts/deployment/universal-deploy.sh
Due: none

Полная подготовка к production deployment
  DEPLOYMENT_REPORT_FINAL.md
  scripts/deployment/deployment-utils.sh
Due: none

Успешное тестирование Student Dashboard через browser с Playwright MCP
  STUDENT_DASHBOARD_TEST_REPORT.md
Due: none

Финальный summary: Full deployment preparation + successful browser testing
  TESTING_AND_DEPLOYMENT_SUMMARY.md
Due: none

Production deployment: Complete setup for the-bot.ru domain
  DEPLOY_INTERACTIVE.sh
  PRODUCTION_DEPLOYMENT_GUIDE.md
  scripts/deployment/deployment-utils.sh
Due: none

Добавить autocomplete атрибуты для password и username полей
  frontend/src/__tests__/responsive.test.tsx
  frontend/src/components/admin/CreateParentDialog.tsx
  frontend/src/components/admin/CreateStudentDialog.tsx
  frontend/src/components/admin/CreateUserDialog.tsx
  frontend/src/pages/Auth.tsx
  frontend/src/pages/admin/SystemSettings.tsx
  frontend/src/utils/VALIDATION_EXAMPLES.tsx
Due: frontend, frontend-unit

Исправление 4 production ошибок: auth token, API ключ, accessibility, meta теги
  .deploy.env
  .env.prod
  DEPLOYMENT_STATUS.txt
  DEPLOY_AUTO.sh
  RUN_DEPLOYMENT.md
  backend/Dockerfile
  backend/chat/migrations/0011_remove_chatroom_chat_type_enrollment_idx_and_more.py
  backend/dump.rdb
  backend/invoices/migrations/0006_invoice_enrollment.py
  backend/notifications/migrations/0018_alter_devicetoken_token_and_more.py
  backend/reports/migrations/0015_alter_teacherweeklyreport_unique_together_and_more.py
  backend/scheduling/migrations/0010_delete_subject.py
  backups/db_backup_20260105_140612.sql.gz
  deploy-remote-safe.sh
  deploy-with-db-safe.sh
  deploy.sh
  deployment-summary.md
  docker-compose.prod.yml
  frontend/Dockerfile
  frontend/src/components/admin/CreateParentDialog.tsx
  frontend/src/components/admin/CreateStudentDialog.tsx
  frontend/src/components/admin/CreateUserDialog.tsx
  frontend/src/components/admin/TeacherSection.tsx
  frontend/src/components/admin/TutorSection.tsx
  frontend/src/pages/Auth.tsx
  pre-deploy-check-output.txt
  scripts/deployment/.deploy.env
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Система переписки: полная реализация Chat для всех ролей
  frontend/src/App.tsx
  frontend/src/components/chat/ChatList.tsx
  frontend/src/components/chat/ChatWindow.tsx
  frontend/src/components/chat/ContactSelector.tsx
  frontend/src/components/chat/MessageInput.tsx
  frontend/src/components/chat/index.ts
  frontend/src/components/layout/ParentSidebar.tsx
  frontend/src/components/layout/StudentSidebar.tsx
  frontend/src/components/layout/TeacherSidebar.tsx
  frontend/src/components/layout/TutorSidebar.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/integrations/api/chatAPI.ts
  frontend/src/integrations/websocket/chatSocket.ts
  frontend/src/interfaces/chat.types.ts
  frontend/src/pages/dashboard/ParentDashboard.tsx
  frontend/src/pages/dashboard/StudentDashboard.tsx
  frontend/src/pages/dashboard/TeacherDashboard.tsx
  frontend/src/pages/dashboard/TutorDashboard.tsx
  frontend/src/pages/dashboard/parent/ChatPage.tsx
  frontend/src/pages/dashboard/student/ChatPage.tsx
  frontend/src/pages/dashboard/teacher/ChatPage.tsx
  frontend/src/pages/dashboard/tutor/ChatPage.tsx
Due: frontend, frontend-unit

Fix Dockerfile: copy tsconfig files before npm install for Vite build
  frontend/Dockerfile
Due: none

Simplify Dockerfile: move COPY frontend before npm install
  frontend/Dockerfile
Due: none

Update deploy.sh: change server to mg@5.129.249.206 and domain to the-bot.ru
  deploy.sh
Due: none

Deploy: migrate to Alpine Linux Docker images and update server configuration
  backend/Dockerfile
Due: backend, backend-unit, backend-integration

Add native deployment option without Docker
  scripts/deployment/install-systemd-services.sh
  scripts/deployment/safe-deploy-native.sh
  scripts/deployment/thebot-backend.service
  scripts/deployment/thebot-celery-beat.service
  scripts/deployment/thebot-celery-worker.service
Due: none

Fix CheckConstraint syntax in migration for Django 6.0 compatibility
  backend/invoices/migrations/0001_initial.py
Due: none

Очистка проекта: удалены файлы отчётов деплоя
  DEPLOYMENT_REPORT_FINAL.md
  backend/chat/test_messaging_all_roles.py
  frontend/e2e.playwright.config.ts
  frontend/e2e/messaging.phase2.spec.ts
  frontend/e2e/messaging.spec.ts
  frontend/src/integrations/api/adminErrorHandler.ts
  run-e2e-phase2.sh
Due: frontend, frontend-unit

Увеличить Rate Limits для админ-панели
  backend/core/rate_limiting.py
  backend/tests/unit/test_rate_limiting.py
Due: backend, backend-unit, backend-integration

Исправлены критические проблемы production: производительность и функционал admin
  backend/accounts/management/commands/reset_database_and_create_users.py
  backend/accounts/staff_views.py
  backend/accounts/urls.py
  backend/config/settings.py
  docker-compose.prod.yml
  docker/nginx.prod.conf
  frontend/src/components/admin/EditTeacherDialog.tsx
  frontend/src/components/admin/StudentMultiSelect.tsx
  frontend/src/integrations/api/adminAPI.ts
  frontend/src/integrations/api/unifiedClient.ts
  frontend/src/integrations/websocket/chatSocket.ts
  frontend/src/services/websocketService.ts
  nginx/the-bot.ru.conf
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Удалены deployment документы из корня проекта
  DEPLOYMENT_STATUS.txt
  PRODUCTION_DEPLOYMENT_GUIDE.md
  RUN_DEPLOYMENT.md
  TESTING_AND_DEPLOYMENT_SUMMARY.md
Due: none

Исправлены критические проблемы messaging: доставка сообщений, создание чатов, deployment
  PRODUCTION_MESSAGING_FIX.md
  backend/chat/consumers.py
  backend/chat/routing.py
  backend/chat/serializers.py
  backend/chat/signals.py
  backend/config/settings.py
  deploy/systemd/daphne.service
  frontend/src/hooks/useChat.ts
  frontend/src/integrations/websocket/chatSocket.ts
  scripts/deployment/safe-deploy-native.sh
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Исправлены критические ошибки WebSocket и systemd конфигурации
  deploy/systemd/daphne.service
  frontend/src/components/admin/__tests__/StudentMultiSelect.test.tsx
  frontend/src/integrations/api/__tests__/adminAPI.test.ts
  frontend/src/integrations/api/__tests__/unifiedClient.test.ts
  frontend/src/integrations/websocket/__tests__/chatSocket.test.ts
  frontend/src/integrations/websocket/chatSocket.ts
  scripts/deployment/safe-deploy-native.sh
Due: frontend, frontend-unit

Оптимизация конфигурации PostgreSQL для производительности
  backend/config/settings.py
Due: none

Комплексное исправление production: производительность, безопасность, тестовые данные
  DATABASE_INDEXES_MIGRATION.md
  backend/accounts/management/commands/reset_database_and_create_users.py
  backend/accounts/migrations/0016_add_token_indexes.py
  backend/accounts/profile_serializers.py
  backend/accounts/profile_service.py
  backend/accounts/serializers.py
  backend/assignments/migrations/0023_add_assignment_indexes.py
  backend/assignments/serializers.py
  backend/chat/consumers.py
  backend/chat/signals.py
  backend/config/settings.py
  backend/invoices/migrations/0001_initial.py
  backend/materials/migrations/0036_add_material_indexes.py
  backend/reports/cache/strategy.py
  backend/reports/migrations/0016_add_report_indexes.py
  nginx/the-bot.ru.conf
  scripts/deployment/thebot-backend.service
  scripts/deployment/thebot-celery-beat.service
  scripts/deployment/thebot-celery-worker.service
  scripts/deployment/universal-deploy.sh
  scripts/logrotate/README.md
  scripts/logrotate/thebot
Due: backend, backend-unit, backend-integration

Исправлена ошибка logging - используются динамические пути для логов
  backend/config/settings.py
Due: none

Исправлены критические ошибки: logging, миграции, и тестовые данные
  FINAL_SMOKE_TEST_REPORT.txt
  README_SMOKE_TESTS.txt
  SMOKE_TESTS_DELIVERY_SUMMARY.txt
  SMOKE_TESTS_INDEX.md
  SMOKE_TEST_EXECUTIVE_SUMMARY.txt
  backend/accounts/management/commands/reset_database_and_create_users.py
  backend/accounts/migrations/0016_add_token_indexes.py
  backend/assignments/migrations/0023_add_assignment_indexes.py
  backend/config/settings.py
  backend/materials/migrations/0036_add_material_indexes.py
  backend/reports/migrations/0016_add_report_indexes.py
  smoke-test-results.md
  smoke-tests.js
Due: backend, backend-unit, backend-integration

Исправлены критические ошибки чата и API
  .env.production.native.template
  .gitignore
  backend/chat/consumers.py
  backend/config/settings.py
  backend/core/config_views.py
  backend/core/management/commands/seed_complete_school.py
  frontend/src/integrations/api/tutor.ts
  frontend/src/integrations/websocket/chatSocket.ts
  scripts/deployment/safe-deploy-native.sh
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Развёрнут production с исправлением ошибок чата и API
  dump.rdb
  test_login_api.sh
Due: none

Очистка конфигурации окружения: оставлены только .env и .env.production.native
  .github/workflows/deploy-production.yml
  deploy-direct.sh
  deploy-with-db-safe.sh
  docker/start-production.sh
  docker/test-production.sh
Due: none

Удалены deprecated deployment скрипты в корне
  DEPLOY_AUTO.sh
  backend-control.sh
  build-docker.sh
  deploy-direct.sh
  deploy-full.sh
  deploy-local-to-server.sh
  deploy-production.sh
  deploy-remote-safe.sh
  deploy-to-server.sh
  deploy-with-db-safe.sh
  deploy.sh
  master-deploy.sh
  start-production.sh
  start.sh
Due: none

Переместить тестовые скрипты в backend/scripts/development/
  api_test_suite.py
  backend/conftest.py
  backend/scripts/__init__.py
  backend/scripts/development/__init__.py
  backend/scripts/development/check_config.py
  backend/scripts/development/check_create_lesson.py
  backend/scripts/development/check_profiles.py
  backend/scripts/development/create_all_profiles.py
  backend/scripts/development/create_teacher_profile.py
  backend/scripts/development/fix_assignments.py
  backend/scripts/development/fix_dataset_command.py
  backend/scripts/development/fix_roles.py
  backend/scripts/development/run_cross_role_tests.py
  backend/scripts/development/validate_analytics_service.py
  backend/scripts/development/validate_fixes.py
  database/init-scripts/01-init.sql
  database/replication/README.md
  database/replication/docker-compose.yml
  database/replication/monitor_replication.sh
  database/replication/patroni/patroni.yml
  database/replication/pgbouncer/pgbouncer.ini
  database/replication/pgbouncer/userlist.txt
  database/replication/primary/pg_hba.conf
  database/replication/primary/postgresql.conf
  database/replication/replica/pg_hba.conf
  database/replication/replica/postgresql.conf
  database/replication/test_failover.sh
Due: backend, backend-unit, backend-integration

Удалить неиспользуемую конфигурацию Redis Cluster
  redis/cluster/README.md
  redis/cluster/docker-compose.yml
  redis/cluster/failover-test.sh
  redis/cluster/init-cluster.sh
  redis/cluster/manage-cluster.sh
  redis/cluster/monitor-cluster.sh
  redis/cluster/redis-6379.conf
  redis/cluster/redis-6380.conf
  redis/cluster/redis-6381.conf
  redis/cluster/redis-6382.conf
  redis/cluster/redis-6383.conf
  redis/cluster/redis-6384.conf
  redis/cluster/sentinel.conf
  redis/cluster/test-cluster.sh
Due: none
