Repository MegoM2323/Educational-platform-the-bot: changes, and which Codecov flags are due for each by the changed paths.
All: backend, backend-unit, backend-integration, frontend, frontend-unit

Система счетов: Complete Implementation - All 20 Tasks Done
  TEST_RESULTS_T018.txt
  frontend/src/__tests__/utils/test-utils.tsx
  frontend/src/components/invoices/__tests__/CreateInvoiceForm.test.tsx
  frontend/src/components/invoices/__tests__/ParentInvoicesList.test.tsx
  frontend/src/components/invoices/__tests__/TutorInvoicesList.test.tsx
  frontend/src/hooks/__tests__/useInvoicesList.test.ts
  run_migrations.py
  test_invoice_e2e.py
  test_invoice_e2e_complete.py
  test_migration.py
Due: frontend, frontend-unit

Исправлена обработка ошибки HTTP 403 Forbidden в hook useProfile
  frontend/src/hooks/useProfile.ts
Due: frontend, frontend-unit

Очистка: Remove all temporary files, test reports, and unnecessary documentation
  INVOICE_TUTOR_IMPLEMENTATION.md
  QA_TEST_INDEX.md
  REAL_DIAGNOSTICS.md
  STATUS_T801_T804.md
  T605.1_INTEGRATION_COMPLETE.md
  backend/KNOWLEDGE_GRAPH_API_DIAGNOSTICS.md
  backend/invoices/API_ENDPOINTS.md
  backend/invoices/README.md
  backend/invoices/SCHEMA_DESIGN.md
  frontend/after-login.png
  frontend/before-login.png
  frontend/form-filled.png
  frontend/forum-page.png
  frontend/src/components/knowledge-graph/GRAPH_VISUALIZATION_README.md
  frontend/src/components/knowledge-graph/IMPLEMENTATION_SUMMARY.md
  frontend/src/components/knowledge-graph/PROGRESS_VISUALIZATION.md
  frontend/src/components/knowledge-graph/QUICKSTART.md
  frontend/src/components/knowledge-graph/README.md
  frontend/src/components/knowledge-graph/T703_IMPLEMENTATION_SUMMARY.md
  frontend/src/components/knowledge-graph/T703_VERIFICATION.md
  frontend/src/components/knowledge-graph/USAGE_EXAMPLES.md
  frontend/src/pages/dashboard/student/KNOWLEDGE_GRAPH_README.md
  frontend/src/pages/dashboard/teacher/GraphEditorTab.README.md
  frontend/src/pages/dashboard/teacher/ProgressViewerTab.README.md
  frontend/src/services/ANSWER_SUBMISSION_INTEGRATION.md
  frontend/src/services/T701_COMPLETION_SUMMARY.md
  frontend/test-results/.last-run.json
  run_migrations.py
  run_server.sh
  start.sh
  start_fixed.sh
  start_no_proxy.sh
  start_server.sh
  stop.sh
  test_forum.html
  test_migration.py
  test_websocket.py
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Исправлен URL для загрузки расписания студента в профиле тьютора
  frontend/src/integrations/api/knowledgeGraphAPI.ts
  frontend/src/pages/admin/AdminSchedulePage.tsx
Due: frontend, frontend-unit

Результаты тестирования и анализ - Forum Integration Tests
  TEST_RESULTS_T024.md
Due: none

Детальные результаты тестирования - 67 Integration Tests with Per-Test Analysis
  FORUM_INTEGRATION_TESTS_DETAILED_RESULTS.md
Due: none

Исправлены проблемы с диалогами в Tutor Dashboard
  frontend/src/components/tutor/AssignSubjectDialog.tsx
  frontend/src/pages/dashboard/tutor/Reports.tsx
  frontend/src/pages/dashboard/tutor/Students.tsx
Due: frontend, frontend-unit

Integration Tests - useTeacherGraphEditor Hook (48/48 tests passed)
  frontend/src/hooks/__tests__/useTeacherGraphEditor.test.ts
Due: frontend, frontend-unit

Исправлены синтаксические ошибки E2E тестов in scheduling tests
  frontend/tests/e2e/scheduling/lesson-complete-flow.spec.ts
Due: none

Исправлен Playwright baseURL to match actual server port (8080)
  frontend/playwright.config.ts
Due: none

Исправлена аутентификация в development режиме
  backend/accounts/views.py
Due: backend, backend-unit, backend-integration

Исправлен рендеринг D3 графа знаний
  GRAPH_RENDERING_FIX.md
  frontend/src/components/knowledge-graph/GraphVisualization.tsx
  frontend/src/components/knowledge-graph/graph-utils.ts
  frontend/src/pages/dashboard/teacher/GraphEditorTab.tsx
Due: frontend, frontend-unit

Добавлен endpoint статистики пользователей для админ-панели
  backend/accounts/admin_stats_views.py
  backend/accounts/urls.py
  frontend/src/integrations/api/adminAPI.ts
  frontend/src/pages/admin/AdminDashboard.tsx
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Исправлена логика повторной попытки ответа на quick_question
  backend/knowledge_graph/student_lesson_views.py
  frontend/src/components/student/ElementRenderer.tsx
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Создань E2E тесты для Teacher Schedule Full Workflow
  frontend/tests/e2e/scheduling/teacher-schedule.spec.ts
Due: none

Настроен Vite для привязки к 0.0.0.0 for Playwright browser access in dev environment
  frontend/vite.config.ts
Due: none

Полное тестирование и исправление трёх функционалов
  backend/invoices/models.py
  backend/invoices/views.py
  backend/knowledge_graph/signals.py
  backend/knowledge_graph/student_lesson_views.py
  backend/knowledge_graph/validators.py
  backend/materials/models.py
  frontend/src/components/invoices/CreateInvoiceForm.tsx
  frontend/src/hooks/useTeacherLessons.ts
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Исправлена конфигурация CORS и запуска Django
  start.sh
Due: none

Исправлены критические ошибки всех дашбордов и профилей
  frontend/src/App.tsx
  frontend/src/components/ProtectedRoute.tsx
Due: frontend, frontend-unit

Финальное тестирование и подготовка к развертыванию
  DISPATCHER_RESULT_T016.txt
  TESTING_REPORTS_INDEX.md
  backend/chat/forum_views.py
  backend/chat/permissions.py
  backend/chat/serializers.py
  backend/chat/urls.py
  backend/knowledge_graph/graph_views.py
  backend/knowledge_graph/progress_sync_service.py
  backend/knowledge_graph/urls.py
  frontend/src/components/knowledge-graph/GraphVisualization.tsx
  frontend/src/components/knowledge-graph/graph-types.ts
  frontend/src/contexts/AuthContext.tsx
  frontend/src/hooks/__tests__/useForumChats.test.ts
  frontend/src/hooks/__tests__/useTeacherGraphEditor.test.ts
  frontend/src/hooks/useForumChats.ts
  frontend/src/hooks/useTeacherGraphEditor.ts
  frontend/src/integrations/api/__tests__/forumAPI.test.ts
  frontend/src/integrations/api/forumAPI.ts
  frontend/src/integrations/api/knowledgeGraphAPI.ts
  frontend/src/integrations/api/unifiedClient.ts
  frontend/src/pages/dashboard/Forum.tsx
  frontend/src/pages/dashboard/teacher/GraphEditorTab.tsx
  frontend/src/services/authService.ts
  frontend/src/services/chatWebSocketService.ts
  frontend/src/services/invoiceWebSocketService.ts
  frontend/src/services/notificationWebSocketService.ts
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Исправлена: проблема с Firefox proxy и аутентификация
  frontend/test-results/.last-run.json
  frontend/test-results/e2e-tutor-schedule-fix-sim-ad74d--design---mobile-view-works-chromium/error-context.md
  frontend/test-results/e2e-tutor-schedule-fix-sim-ad74d--design---mobile-view-works-chromium/test-failed-1.png
  frontend/test-results/e2e-tutor-schedule-fix-sim-ad74d--design---mobile-view-works-chromium/video.webm
  frontend/test-results/e2e-tutor-schedule-fix-sim-b36e1--No-critical-console-errors-chromium/error-context.md
  frontend/test-results/e2e-tutor-schedule-fix-sim-b36e1--No-critical-console-errors-chromium/test-failed-1.png
  frontend/test-results/e2e-tutor-schedule-fix-sim-b36e1--No-critical-console-errors-chromium/video.webm
  frontend/test-results/e2e-tutor-schedule-fix-sim-fc8a1-ent-selector-shows-students-chromium/error-context.md
  frontend/test-results/e2e-tutor-schedule-fix-sim-fc8a1-ent-selector-shows-students-chromium/test-failed-1.png
  frontend/test-results/e2e-tutor-schedule-fix-sim-fc8a1-ent-selector-shows-students-chromium/video.webm
  frontend/test-results/index.html
  frontend/test-results/results.json
Due: none

Исправлен endpoint admin panel и улучшено отображение расписания
  frontend/src/integrations/api/adminAPI.ts
  frontend/src/pages/admin/AdminSchedulePage.tsx
  frontend/test-results/.last-run.json
  frontend/test-results/e2e-comprehensive-system-v-9d74a--01-Student-Dashboard-Loads-chromium/error-context.md
  frontend/test-results/e2e-comprehensive-system-v-9d74a--01-Student-Dashboard-Loads-chromium/test-failed-1.png
  frontend/test-results/e2e-comprehensive-system-v-a13df--01-Teacher-Dashboard-Loads-chromium/error-context.md
  frontend/test-results/e2e-comprehensive-system-v-a13df--01-Teacher-Dashboard-Loads-chromium/test-failed-1.png
  frontend/test-results/e2e-comprehensive-system-v-a43b7-sts-02-Parent-Profile-Opens-chromium/error-context.md
  frontend/test-results/e2e-comprehensive-system-v-a43b7-sts-02-Parent-Profile-Opens-chromium/test-failed-1.png
  frontend/test-results/e2e-comprehensive-system-v-a463e-ests-02-Tutor-Profile-Opens-chromium/error-context.md
  frontend/test-results/e2e-comprehensive-system-v-a463e-ests-02-Tutor-Profile-Opens-chromium/test-failed-1.png
  frontend/test-results/e2e-comprehensive-system-v-b5458-ent-Profile-Opens-and-Edits-chromium/error-context.md
  frontend/test-results/e2e-comprehensive-system-v-b5458-ent-Profile-Opens-and-Edits-chromium/test-failed-1.png
  frontend/test-results/e2e-comprehensive-system-v-bc3e3-ts-02-Teacher-Profile-Opens-chromium/error-context.md
  frontend/test-results/e2e-comprehensive-system-v-bc3e3-ts-02-Teacher-Profile-Opens-chromium/test-failed-1.png
  frontend/test-results/e2e-comprehensive-system-v-ce295-ts-01-Tutor-Dashboard-Loads-chromium/error-context.md
  frontend/test-results/e2e-comprehensive-system-v-ce295-ts-01-Tutor-Dashboard-Loads-chromium/test-failed-1.png
  frontend/test-results/e2e-comprehensive-system-v-ce295-ts-01-Tutor-Dashboard-Loads-chromium/test-failed-2.png
  frontend/test-results/e2e-comprehensive-system-v-f93b7-udent-Navigation-Menu-Works-chromium/error-context.md
  frontend/test-results/e2e-comprehensive-system-v-f93b7-udent-Navigation-Menu-Works-chromium/test-failed-1.png
  frontend/test-results/e2e-comprehensive-system-v-fbbef-s-01-Parent-Dashboard-Loads-chromium/error-context.md
  frontend/test-results/e2e-comprehensive-system-v-fbbef-s-01-Parent-Dashboard-Loads-chromium/test-failed-1.png
  frontend/test-results/e2e-comprehensive-system-v-fbbef-s-01-Parent-Dashboard-Loads-chromium/test-failed-2.png
  frontend/test-results/index.html
  frontend/test-results/results.json
Due: frontend, frontend-unit

Исправление админ-панели: тесты и E2E инфраструктура
  backend/tests/unit/accounts/test_admin_teacher_edit.py
  backend/tests/unit/admin/__init__.py
  backend/tests/unit/admin/test_teacher_edit_api.py
  backend/tests/verification/test_update_user_all_roles.py
  frontend/src/components/admin/__tests__/EditTeacherDialog.test.tsx
  frontend/tests/e2e/admin-dashboard.spec.ts
  frontend/tests/e2e/helpers/admin-dashboard-helpers.ts
Due: frontend, frontend-unit

Настроена PostgreSQL репликация для высокой доступности
  .github/workflows/build.yml
  database/replication/README.md
  database/replication/docker-compose.yml
  database/replication/monitor_replication.sh
  database/replication/patroni/patroni.yml
  database/replication/pgbouncer/pgbouncer.ini
  database/replication/pgbouncer/userlist.txt
  database/replication/primary/pg_hba.conf
  database/replication/primary/postgresql.conf
  database/replication/replica/pg_hba.conf
  database/replication/replica/postgresql.conf
  database/replication/test_failover.sh
  docs/CI_PIPELINE_BUILD.md
  docs/CI_PIPELINE_TEST_PLAN.md
  frontend/ERROR_HANDLING.md
  frontend/src/components/__tests__/ErrorBoundary.test.tsx
Due: frontend, frontend-unit

Реализована система автоматического резервного копирования базы данных
  .github/workflows/security-scan.yml
  .semgrep.yml
  SECURITY.md
  docs/CI_SECURITY_PIPELINE.md
  scripts/security-scan.sh
Due: none

Реализована CI Pipeline Build (T_DEV_005)
  backup/IMPLEMENTATION_GUIDE.md
  backup/database/README.md
  backup/database/backup.sh
  backup/database/monitor.sh
  backup/database/restore.sh
  backup/database/setup-cron.sh
  backup/database/test_backup.sh
  docs/CI_PIPELINE_BUILD.md
  docs/CI_PIPELINE_TEST_PLAN.md
Due: none

Реализована CI Pipeline Lint система
  logging/DEPLOYMENT.md
  logging/IMPLEMENTATION_SUMMARY.md
  logging/Makefile
  logging/README.md
  logging/docker-compose.yml
  logging/elasticsearch/elasticsearch.yml
  logging/filebeat/filebeat.yml
  logging/kibana/kibana.yml
  logging/logstash/Dockerfile
  logging/logstash/logstash.conf
  logging/logstash/patterns/thebot
  logging/metricbeat/metricbeat.yml
  logging/monitor_elk.sh
  logging/python_logging_config.py
  logging/test_elk_stack.py
Due: none

Path conditions:
  backend: any of: backend/, but not: backend/migrations/**/*, backend/*/migrations/**/*, backend/tests/**/*, backend/*/tests/**/*, backend/manage.py, backend/*/wsgi.py, backend/*/asgi.py, backend/config/settings.py, backend/core/celery_config.py, frontend/node_modules/**/*, frontend/dist/**/*, frontend/build/**/*, **/__pycache__/**/*, **/*.pyc, **/test_*.py, **/*_test.py, tests/**/*, **/.venv/**/*, **/venv/**/*
  backend-unit: any of: backend/, but not: backend/migrations/**/*, backend/*/migrations/**/*, backend/tests/**/*, backend/*/tests/**/*, backend/manage.py, backend/*/wsgi.py, backend/*/asgi.py, backend/config/settings.py, backend/core/celery_config.py, frontend/node_modules/**/*, frontend/dist/**/*, frontend/build/**/*, **/__pycache__/**/*, **/*.pyc, **/test_*.py, **/*_test.py, tests/**/*, **/.venv/**/*, **/venv/**/*
  backend-integration: any of: backend/, but not: backend/migrations/**/*, backend/*/migrations/**/*, backend/tests/**/*, backend/*/tests/**/*, backend/manage.py, backend/*/wsgi.py, backend/*/asgi.py, backend/config/settings.py, backend/core/celery_config.py, frontend/node_modules/**/*, frontend/dist/**/*, frontend/build/**/*, **/__pycache__/**/*, **/*.pyc, **/test_*.py, **/*_test.py, tests/**/*, **/.venv/**/*, **/venv/**/*
  frontend: any of: frontend/src/, but not: backend/migrations/**/*, backend/*/migrations/**/*, backend/tests/**/*, backend/*/tests/**/*, backend/manage.py, backend/*/wsgi.py, backend/*/asgi.py, backend/config/settings.py, backend/core/celery_config.py, frontend/node_modules/**/*, frontend/dist/**/*, frontend/build/**/*, **/__pycache__/**/*, **/*.pyc, **/test_*.py, **/*_test.py, tests/**/*, **/.venv/**/*, **/venv/**/*
  frontend-unit: any of: frontend/src/, but not: backend/migrations/**/*, backend/*/migrations/**/*, backend/tests/**/*, backend/*/tests/**/*, backend/manage.py, backend/*/wsgi.py, backend/*/asgi.py, backend/config/settings.py, backend/core/celery_config.py, frontend/node_modules/**/*, frontend/dist/**/*, frontend/build/**/*, **/__pycache__/**/*, **/*.pyc, **/test_*.py, **/*_test.py, tests/**/*, **/.venv/**/*, **/venv/**/*
