Repository MegoM2323/Educational-platform-the-bot: changes, and which Codecov flags are due for each by the changed paths.
All: backend, backend-unit, backend-integration, frontend, frontend-unit

Исправлена кнопка создания материалов в личном кабинете преподователя, подготовлена финальная версия для релиза
  backend/celerybeat-schedule-shm
  backend/celerybeat-schedule-wal
  frontend/src/pages/dashboard/TeacherDashboard.tsx
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Исправлен GitHub Actions CI/CD workflow
  .github/workflows/integration-tests.yml
  USER_ACCEPTANCE_TEST_FINAL.json
  backend/accounts/management/commands/reset_to_known_test_dataset.py
  backend/accounts/profile_views.py.bak
  backend/accounts/staff_views.py.bak
  backend/materials/student_dashboard_service.py
  backend/materials/student_dashboard_views.py
  backend/materials/teacher_dashboard_service.py
  backend/materials/teacher_dashboard_views.py
  backend/materials/teacher_urls.py
  backend/materials/urls.py
  backend/pytest.ini
  backend/scheduling/views.py
  backend/test_db_connection.py
  backend/tests/integration/test_admin_user_creation.py
  frontend/src/hooks/useForumMessages.ts
  frontend/src/hooks/useStudentSchedule.ts
  frontend/src/pages/dashboard/Forum.tsx
  frontend/src/pages/dashboard/StudentSchedulePage.tsx
  frontend/src/services/chatWebSocketService.ts
  test_profile_api.py
  uat_test.py
  uat_test_v2.py
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Исправлен GitHub Actions CI/CD workflow
  .github/workflows/integration-tests.yml
  USER_ACCEPTANCE_TEST_FINAL.json
  backend/accounts/management/commands/reset_to_known_test_dataset.py
  backend/accounts/profile_views.py.bak
  backend/accounts/staff_views.py.bak
  backend/materials/student_dashboard_service.py
  backend/materials/student_dashboard_views.py
  backend/materials/teacher_dashboard_service.py
  backend/materials/teacher_dashboard_views.py
  backend/materials/teacher_urls.py
  backend/materials/urls.py
  backend/pytest.ini
  backend/scheduling/views.py
  backend/test_db_connection.py
  backend/tests/integration/test_admin_user_creation.py
  docs/TEST_DATA.md
  frontend/src/hooks/useForumMessages.ts
  frontend/src/hooks/useStudentSchedule.ts
  frontend/src/pages/dashboard/Forum.tsx
  frontend/src/pages/dashboard/StudentSchedulePage.tsx
  frontend/src/services/chatWebSocketService.ts
  test_profile_api.py
  uat_test.py
  uat_test_v2.py
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Восстановлены поврежденные GitHub Actions workflows
  .github/workflows/dashboard-tests.yml
  .github/workflows/e2e-tests.yml
Due: none

Исправлены API endpoint paths для форума
  docs/PLAN.md
  frontend/src/integrations/api/forumAPI.ts
Due: frontend, frontend-unit

Исправлены API endpoint paths для форума
  frontend/src/integrations/api/forumAPI.ts
Due: frontend, frontend-unit

Очистка проекта от мусора и финализация разработки
  ADMIN_E2E_TEST_REPORT.md
  ADMIN_PANEL_QA_TEST_REPORT.md
  CRITICAL_TEST_FIXES.md
  FINAL_E2E_TEST_REPORT.md
  FORUM_API_TEST_REPORT.md
  FORUM_MESSAGE_FIX.md
  TASK_T707_COMPLETION_REPORT.md
  backend/CACHE_INVALIDATION_GUIDE.md
  backend/FORUM_API_TEST_REPORT.md
  backend/FORUM_API_VERIFICATION_SUMMARY.md
  backend/PARENT_MANAGEMENT_TEST_REPORT.md
  backend/QA_TEST_SUMMARY.md
  backend/T835_IMPLEMENTATION_SUMMARY.md
  backend/test_all_profiles.py
  backend/test_api_manual.py
  backend/test_websocket.py
  docs/PLAN.md
  run_forum_browser_test.py
  test_forum_fix.sh
  test_forum_messages_display.sh
  test_forum_ui.md
  test_websocket.js
Due: backend, backend-unit, backend-integration

Исправлена критическая ошибка отображения форума - извлечение массива results из пагинированного ответа API
  frontend/src/integrations/api/forumAPI.ts
Due: frontend, frontend-unit

Улучшена стабильность WebSocket в Forum.tsx
  frontend/src/pages/dashboard/Forum.tsx
Due: frontend, frontend-unit

Добавлен токен аутентификации к URL WebSocket for chat endpoints
  frontend/src/services/chatWebSocketService.ts
Due: frontend, frontend-unit

Исправлен URL endpoint для my_schedule в scheduling API
  frontend/src/integrations/api/__tests__/schedulingAPI.test.ts
  frontend/src/integrations/api/schedulingAPI.ts
Due: frontend, frontend-unit

Очистка проекта от мусора и финализация разработки
  FORUM_MESSAGE_FIX.md
  backend/CACHE_INVALIDATION_GUIDE.md
  backend/FORUM_API_TEST_REPORT.md
  backend/FORUM_API_VERIFICATION_SUMMARY.md
  backend/PARENT_MANAGEMENT_TEST_REPORT.md
  backend/QA_TEST_SUMMARY.md
  backend/T835_IMPLEMENTATION_SUMMARY.md
  backend/test_all_profiles.py
  backend/test_api_manual.py
  backend/test_websocket.py
  run_forum_browser_test.py
  test_forum_fix.sh
  test_forum_messages_display.sh
  test_forum_ui.md
  test_websocket.js
Due: backend, backend-unit, backend-integration

Удалены старые реализации GeneralChat - консолидация на Forum.tsx
  frontend/src/App.tsx
  frontend/src/components/chat/GeneralChatForum.tsx
  frontend/src/components/chat/__tests__/GeneralChatForum.test.tsx
  frontend/src/components/layout/ParentSidebar.tsx
  frontend/src/components/layout/StudentSidebar.tsx
  frontend/src/components/layout/TeacherSidebar.tsx
  frontend/src/components/layout/TutorSidebar.tsx
  frontend/src/pages/dashboard/GeneralChat.tsx
  frontend/src/pages/dashboard/TeacherDashboard.tsx
  frontend/src/pages/dashboard/student/GeneralChat.tsx
  frontend/src/pages/dashboard/teacher/GeneralChat.tsx
  frontend/src/pages/dashboard/tutor/GeneralChat.tsx
Due: frontend, frontend-unit

Исправлена критическая ошибка навигации в Forum - восстановлен боковой сайдбар
  frontend/src/pages/dashboard/Forum.tsx
Due: frontend, frontend-unit

Исправлена трансляция сообщений в реальном времени в системе forum чата
  backend/chat/consumers.py
  backend/chat/forum_views.py
  frontend/src/pages/dashboard/Forum.tsx
  frontend/src/services/chatWebSocketService.ts
  frontend/src/services/websocketService.ts
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Исправлены критические уязвимости фильтрации чатов в форуме
  LESSON_CREATION_ANALYSIS_DETAILED.md
  backend/accounts/profile_views.py
  backend/accounts/urls.py
  backend/celerybeat-schedule-shm
  backend/celerybeat-schedule-wal
  backend/chat/forum_views.py
  backend/scheduling/serializers.py
  backend/tests/integration/scheduling/test_lesson_views.py
  dump.rdb
  frontend/src/integrations/api/schedulingAPI.ts
  frontend/src/pages/dashboard/Forum.tsx
  frontend/src/pages/dashboard/TeacherSchedulePage.tsx
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Исправлены все критические ошибки платформы
  FINAL_QA_SUMMARY.txt
  QA_TEST_SUMMARY_T013.md
  backend/accounts/profile_views.py
  backend/tests/unit/accounts/test_profile_auto_creation.py
Due: backend, backend-unit, backend-integration

Исправлены ошибки dashboard учителя и тьютора - восстановлена консистентность навигации
  frontend/src/pages/dashboard/TeacherDashboard.tsx
  frontend/src/pages/dashboard/TutorDashboard.tsx
Due: frontend, frontend-unit

Оптимизация системы аккаунтов для тьютора
  ИТОГОВЫЙ_ОТЧЕТ.md
Due: none

Добавлен автоматический сигнал создания FORUM_SUBJECT чатов при зачислении студента на предмет
  backend/materials/signals.py
Due: backend, backend-unit, backend-integration

Исправлено отображение имени студента в дашборде тьютора
  backend/materials/tutor_dashboard_service.py
Due: backend, backend-unit, backend-integration

Удалены временные отчёты и документы из корня проекта
  FINAL_QA_SUMMARY.txt
  LESSON_CREATION_ANALYSIS_DETAILED.md
  QA_TEST_SUMMARY_T013.md
  T847_T848_T849_FIXES.md
  ИТОГОВЫЙ_ОТЧЕТ.md
Due: none

Исправлены все 4 критические проблемы + comprehensive тесты
  FINAL_PROJECT_STATUS.md
  backend/config/hyperframe_patch.py
  backend/config/settings.py
  backend/tests/integration/accounts/__init__.py
  backend/tests/integration/accounts/test_teacher_profile_api.py
  backend/tests/integration/chat/__init__.py
  backend/tests/integration/chat/test_forum_system_integration.py
  backend/tests/integration/materials/__init__.py
  backend/tests/integration/materials/test_tutor_students_api.py
  backend/tests/integration/scheduling/test_lesson_creation_flow.py
  backend/tests/unit/accounts/test_teacher_profile_comprehensive.py
  backend/tests/unit/chat/test_forum_messaging_comprehensive.py
  backend/tests/unit/chat/test_forum_visibility_comprehensive.py
  backend/tests/unit/materials/test_tutor_students_comprehensive.py
  backend/tests/unit/scheduling/test_lesson_service_comprehensive.py
  frontend/src/integrations/api/__tests__/schedulingAPI.test.ts
  frontend/src/integrations/api/forumAPI.ts
  frontend/src/integrations/api/schedulingAPI.ts
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Финальная очистка проекта + обновлённый статус
  FINAL_PROJECT_STATUS.md
  FINAL_STATUS.md
Due: none

Исправлена ошибка 404 в расписании студента - изменён useStudentSchedule на использование getLessons() вместо getMySchedule()
  frontend/src/hooks/useStudentSchedule.ts
Due: frontend, frontend-unit

- Создана команда управления для генерации тестовых данных - Удалены дублирующиеся кнопки выхода из хедеров дашбордов
  backend/accounts/management/commands/create_test_data.py
  frontend/src/pages/dashboard/Forum.tsx
  frontend/src/pages/dashboard/StudentDashboard.tsx
  frontend/src/pages/dashboard/TeacherDashboard.tsx
  frontend/src/pages/dashboard/TutorDashboard.tsx
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Исправлена двойная префиксация /api в forumAPI - удалены дублирующиеся /api префиксы из URL эндпойнтов
  FINAL_STATUS.md
  backend/celerybeat-schedule-shm
  backend/celerybeat-schedule-wal
  frontend/src/integrations/api/forumAPI.ts
  frontend/test-results/.last-run.json
  frontend/test-results/index.html
  frontend/test-results/results.json
  frontend/tests/browser-diagnosis/forum-diagnosis.spec.ts
  frontend/tests/browser-diagnosis/login-diagnosis.spec.ts
  frontend/tests/browser-diagnosis/manual-forum-test.spec.ts
  frontend/tests/browser-diagnosis/test-student-schedule-fix.spec.ts
  student_schedule_detailed.png
  student_schedule_screenshot.png
  teacher_schedule_form_open.png
  teacher_schedule_screenshot.png
  tutor_schedule_screenshot.png
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Исправлена инвалидация кеша TanStack Query после CRUD операций с уроками
  frontend/src/hooks/useTeacherLessons.ts
Due: frontend, frontend-unit

Добавлен диалог редактирования урока в расписании учителя
  frontend/src/pages/dashboard/TeacherSchedulePage.tsx
Due: frontend, frontend-unit

Исправлена ошибка обработки HTTP 204 при удалении урока
  frontend/src/utils/jsonUtils.ts
Due: frontend, frontend-unit

Исправлен параметр payload в handleUpdateLesson
  frontend/src/pages/dashboard/TeacherSchedulePage.tsx
Due: frontend, frontend-unit

Исправлен query key для инвалидации кеша уроков учителя
  frontend/src/hooks/useTeacherLessons.ts
Due: frontend, frontend-unit

Исправлено смещение даты в календаре на -1 день
  frontend/src/components/scheduling/teacher/LessonForm.tsx
Due: frontend, frontend-unit

Path conditions:
  backend: any of: backend/, but not: backend/migrations/**/*, backend/*/migrations/**/*, backend/tests/**/*, backend/*/tests/**/*, backend/manage.py, backend/*/wsgi.py, backend/*/asgi.py, backend/config/settings.py, backend/core/celery_config.py, frontend/node_modules/**/*, frontend/dist/**/*, frontend/build/**/*, **/__pycache__/**/*, **/*.pyc, **/test_*.py, **/*_test.py, tests/**/*, **/.venv/**/*, **/venv/**/*
  backend-unit: any of: backend/, but not: backend/migrations/**/*, backend/*/migrations/**/*, backend/tests/**/*, backend/*/tests/**/*, backend/manage.py, backend/*/wsgi.py, backend/*/asgi.py, backend/config/settings.py, backend/core/celery_config.py, frontend/node_modules/**/*, frontend/dist/**/*, frontend/build/**/*, **/__pycache__/**/*, **/*.pyc, **/test_*.py, **/*_test.py, tests/**/*, **/.venv/**/*, **/venv/**/*
  backend-integration: any of: backend/, but not: backend/migrations/**/*, backend/*/migrations/**/*, backend/tests/**/*, backend/*/tests/**/*, backend/manage.py, backend/*/wsgi.py, backend/*/asgi.py, backend/config/settings.py, backend/core/celery_config.py, frontend/node_modules/**/*, frontend/dist/**/*, frontend/build/**/*, **/__pycache__/**/*, **/*.pyc, **/test_*.py, **/*_test.py, tests/**/*, **/.venv/**/*, **/venv/**/*
  frontend: any of: frontend/src/, but not: backend/migrations/**/*, backend/*/migrations/**/*, backend/tests/**/*, backend/*/tests/**/*, backend/manage.py, backend/*/wsgi.py, backend/*/asgi.py, backend/config/settings.py, backend/core/celery_config.py, frontend/node_modules/**/*, frontend/dist/**/*, frontend/build/**/*, **/__pycache__/**/*, **/*.pyc, **/test_*.py, **/*_test.py, tests/**/*, **/.venv/**/*, **/venv/**/*
  frontend-unit: any of: frontend/src/, but not: backend/migrations/**/*, backend/*/migrations/**/*, backend/tests/**/*, backend/*/tests/**/*, backend/manage.py, backend/*/wsgi.py, backend/*/asgi.py, backend/config/settings.py, backend/core/celery_config.py, frontend/node_modules/**/*, frontend/dist/**/*, frontend/build/**/*, **/__pycache__/**/*, **/*.pyc, **/test_*.py, **/*_test.py, tests/**/*, **/.venv/**/*, **/venv/**/*
