Repository MegoM2323/Educational-platform-the-bot: changes, and which Codecov flags are due for each by the changed paths.
All: backend, backend-unit, backend-integration, frontend, frontend-unit

Инициализация тестового окружения и seed данных
  backend/materials/management/commands/seed_test_materials.py
Due: backend, backend-unit, backend-integration

Исправлены критические ошибки авторизации
  backend/accounts/admin.py
  backend/accounts/migrations/0011_remove_plaintext_passwords.py
  backend/accounts/models.py
  backend/accounts/permissions.py
  backend/accounts/profile_service.py
  backend/accounts/staff_views.py
  backend/accounts/supabase_sync.py
  backend/accounts/tutor_service.py
  backend/accounts/views.py
Due: backend, backend-unit, backend-integration

Fix CheckConstraint syntax error in Invoice model
  backend/invoices/models.py
Due: backend, backend-unit, backend-integration

Fix Django 6.0 CheckConstraint parameter - use 'condition' instead of 'check'
  backend/invoices/models.py
Due: backend, backend-unit, backend-integration

Добавлен полный набор тестовых сценариев для всех ролей платформы
  TESTING_SCENARIOS.md
Due: none

Интеграция Telegram привязки в профили пользователей
  FEEDBACK_T_W14_005.md
  FEEDBACK_T_W14_007.md
  FEEDBACK_T_W14_030.md
  FEEDBACK_T_W14_FIX_007.md
  IMPLEMENTATION_SUMMARY.md
  REACT_ERROR_306_FIX.md
  README_TASK_W14_026.md
  TASK_STATUS.txt
  TASK_T_W14_011_TEACHER_ACCESS_FIX.md
  TASK_W14_026_FEEDBACK.md
  TASK_W14_FIX_007_SUMMARY.md
  TEST_REPORT_LESSON_EDIT.md
  T_W14_008_FEEDBACK.md
  T_W14_009_FEEDBACK.md
  VERIFICATION_T_W14_FIX_007.md
  api_test_suite.py
  backend/chat/migrations/0011_alter_chatroom_enrollment.py
  backend/invoices/migrations/0001_initial.py
  backend/invoices/models.py
  test_login_api.sh
  test_summary.txt
Due: backend, backend-unit, backend-integration

Полное тестирование платформы THE_BOT: 18 найденных проблем
  ISSUES_FOUND_TESTING.md
  TESTING_RESULTS_COMPLETE.md
  backend/accounts/management/commands/init_test_users.py
Due: backend, backend-unit, backend-integration

Fix C3: Frontend container unhealthy status due to read-only volumes
  CHANGES_THIS_SESSION.md
  FULL_TESTING_REPORT.md
  INDEX.md
  ISSUES_CHECKLIST.md
  TESTING_SUMMARY.txt
  TESTING_SUMMARY_RU.txt
  TEST_RESULTS_FINAL.md
  backend/accounts/management/commands/init_test_users.py
  backend/accounts/views.py
  docker-compose.yml
  frontend/Dockerfile
  frontend/nginx-default.conf
Due: backend, backend-unit, backend-integration

Исправлены ФАЗА 1, 2, 3: все критические и высокие проблемы + 7 endpoints
  VALIDATION_FORMAT_FIX.md
  backend/accounts/permissions.py
  backend/accounts/profile_urls.py
  backend/accounts/profile_views.py
  backend/accounts/serializers.py
  backend/accounts/views.py
  backend/assignments/migrations/0021_add_submission_feedback.py
  backend/assignments/models.py
  backend/assignments/serializers.py
  backend/assignments/signals.py
  backend/assignments/views_main.py
  backend/invoices/migrations/0001_initial.py
  backend/invoices/models.py
  backend/materials/student_api_views.py
  backend/materials/student_urls.py
  backend/materials/views.py
  backend/scheduling/permissions.py
  backend/scheduling/serializers.py
  backend/scheduling/services/lesson_service.py
  backend/scheduling/views.py
  test_validation_format.sh
Due: backend, backend-unit, backend-integration

Исправление несовместимости Django 6.0 и стабилизация системы
  CHANGES_THIS_SESSION.md
  CHAT_STATE_FIX.md
  FULL_TESTING_REPORT.md
  INDEX.md
  ISSUES_CHECKLIST.md
  ISSUES_FOUND_TESTING.md
  PLAN_forum.md
  TESTING_RESULTS_COMPLETE.md
  TESTING_SCENARIOS.md
  TEST_RESULTS_FINAL.md
  VALIDATION_FORMAT_FIX.md
  backend/chat/signals.py
  backend/config/exceptions.py
  backend/config/middleware/error_logging_middleware.py
  backend/config/settings.py
  backend/config/urls.py
  backend/invoices/models.py
  backend/knowledge_graph/admin.py
  backend/requirements.txt
  backend/scheduling/admin_views.py
  backend/scheduling/serializers.py
  backend/scheduling/services/lesson_service.py
  backend/scheduling/views.py
  docs/reports/deployment_infrastructure_checklist.md
  docs/reports/environment_configuration_summary.md
  docs/reports/production_readiness_report.md
  docs/runbooks/DEPLOYMENT.md
  docs/runbooks/DEPLOYMENT_STRATEGIES.md
  docs/runbooks/DR_PROCEDURES.md
  docs/runbooks/INCIDENT_RESPONSE.md
  docs/runbooks/README.md
  docs/runbooks/templates/deployment-checklist.md
  docs/runbooks/templates/incident-report.md
  docs/runbooks/templates/postmortem.md
  docs/runbooks/troubleshooting/api.md
  docs/runbooks/troubleshooting/database.md
  docs/runbooks/troubleshooting/websocket.md
Due: backend, backend-unit, backend-integration

Исправлено 10 критических и высоких проблем, добавлены улучшения безопасности
  PARALLEL_TESTERS_FINAL_REPORT.md
Due: none

Очистка временных документов тестирования
  CHANGES_THIS_SESSION.md
  CHAT_STATE_FIX.md
  COMPLETE_FIXES_FINAL_REPORT.md
  COMPLETE_TESTING_REPORT_FULL.md
  FINAL_COMPLETE_TESTING_SUMMARY.md
  FINAL_TESTING_REPORT.md
  FIXES_TESTING_EXAMPLES.md
  FIXES_TESTING_REPORT.md
  FULL_TESTING_REPORT.md
  INDEX.md
  ISSUES_CHECKLIST.md
  ISSUES_FOUND_TESTING.md
  PERFORMANCE_TEST_SUMMARY.md
  PLAN_forum.md
  POST_FIX_TESTING_REPORT.md
  QA_FINAL_REPORT.md
  README_TESTING_2026.md
  SECURITY_REVIEW_RESULTS.md
  TESTER_1_API_ENDPOINTS.md
  TESTER_2_SECURITY.md
  TESTER_3_PERFORMANCE.md
  TESTER_4_DEPLOYMENT.md
  TESTING_CHECKLIST.md
  TESTING_COMPLETE.md
  TESTING_INDEX.md
  TESTING_RESULTS_COMPLETE.md
  TESTING_RESULTS_SUMMARY.md
  TESTING_SCENARIOS.md
  TESTING_SUMMARY.md
  TEST_RESULTS_FINAL.md
  VALIDATION_FORMAT_FIX.md
Due: none

Поправлена проверка Docker в скрипте деплоя
  scripts/deployment/safe-deploy.sh
Due: none

Исправлена фаза backup в скрипте деплоя
  scripts/deployment/safe-deploy.sh
Due: none

Добавлен отчет о production deployment
  DEPLOYMENT_REPORT.md
Due: none

Добавлен финальный отчет верификации production
  PRODUCTION_VERIFICATION_REPORT.md
Due: none

Добавлены инструкции для тестирования в production
  CREATE_PRODUCTION_TEST_DATA.sh
  PRODUCTION_TEST_CREDENTIALS.md
Due: none

Добавлен полный гайд для тестирования в production
  TESTING_GUIDE.md
Due: none

Обновлены учетные данные на данные из load-test-data.sh
  PRODUCTION_TEST_CREDENTIALS.md
  TESTING_GUIDE.md
Due: none

Добавлен финальный файл с учетными данными для тестирования
  FINAL_TEST_CREDENTIALS.txt
Due: none

Добавлена обработка отсутствия celery при запуске Django
  backend/config/settings.py
  backend/core/__init__.py
Due: backend, backend-unit, backend-integration

Исправлены 7 MEDIUM ошибок в Schedule модуле
  TESTING_SUMMARY_SESSION_8.md
  backend/accounts/models.py
  backend/chat/forum_views.py
  backend/invoices/migrations/0004_remove_invoice_check_invoice_amount_positive.py
  backend/invoices/models.py
  backend/knowledge_graph/graph_serializers.py
  backend/knowledge_graph/graph_views.py
  backend/knowledge_graph/lesson_serializers.py
  backend/knowledge_graph/models.py
  backend/knowledge_graph/progress_serializers.py
  backend/knowledge_graph/progress_views.py
  backend/knowledge_graph/student_lesson_views.py
  backend/knowledge_graph/validators.py
  backend/scheduling/parent_views.py
  backend/scheduling/serializers.py
  backend/scheduling/tutor_views.py
  backend/scheduling/views.py
  frontend/src/components/admin/ParentSection.tsx
  frontend/src/components/admin/ParentStudentAssignment.tsx
  frontend/src/components/notifications/NotificationArchive.tsx
  frontend/src/hooks/__tests__/useForumChats.test.ts
  frontend/src/hooks/useTutorStudentSchedule.ts
  frontend/src/integrations/api/__tests__/forumAPI.test.ts
  frontend/src/integrations/api/adminAPI.ts
  frontend/src/integrations/api/knowledgeGraphAPI.ts
  frontend/src/pages/dashboard/Forum.tsx
  frontend/src/pages/dashboard/TutorSchedulePage.tsx
  frontend/src/pages/dashboard/teacher/StudyPlans.tsx
  frontend/src/services/chatWebSocketService.ts
  frontend/vite.config.ts
  test_performance_final.py
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Исправлены MEDIUM ошибки в Profile и Admin модулях
  backend/knowledge_graph/graph_views.py
  backend/knowledge_graph/progress_serializers.py
  backend/knowledge_graph/progress_views.py
  backend/knowledge_graph/student_lesson_views.py
  frontend/src/components/knowledge-graph/graph-types.ts
  frontend/src/integrations/api/forumAPI.ts
  frontend/src/pages/dashboard/Forum.tsx
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Исправлены 66+ ошибок в 5 модулях платформы THE_BOT
  ASSIGNMENTS_API_ANALYSIS.md
  COMPREHENSIVE_TEST_REPORT.md
  DEPLOYMENT_REPORT.md
  TESTING_SESSION_9_SUMMARY.md
  backend/accounts/serializers.py
  backend/accounts/staff_views.py
  backend/accounts/tasks.py
  backend/accounts/urls.py
  backend/chat/apps.py
  backend/chat/serializers.py
  backend/core/api/uptime_views.py
  backend/core/celery_config.py
  backend/core/health_extended.py
  backend/invoices/migrations/0005_fix_enrollment_reference.py
  backend/knowledge_graph/admin.py
  backend/knowledge_graph/element_serializers.py
  backend/knowledge_graph/graph_serializers.py
  backend/knowledge_graph/validators.py
  backend/knowledge_graph/views.py
  backend/materials/teacher_dashboard_views.py
  backend/scheduling/serializers.py
  backend/scheduling/views.py
  docs/runbooks/DEPLOYMENT.md
  docs/runbooks/DEPLOYMENT_STRATEGIES.md
  docs/runbooks/DR_PROCEDURES.md
  docs/runbooks/INCIDENT_RESPONSE.md
  docs/runbooks/README.md
  docs/runbooks/templates/deployment-checklist.md
  docs/runbooks/templates/incident-report.md
  docs/runbooks/templates/postmortem.md
  docs/runbooks/troubleshooting/api.md
  docs/runbooks/troubleshooting/database.md
  docs/runbooks/troubleshooting/websocket.md
  frontend/src/components/profile/ParentProfileForm.tsx
  frontend/src/components/profile/StudentProfileForm.tsx
  frontend/src/components/profile/TeacherProfileForm.tsx
  frontend/src/components/profile/TelegramLinkButton.tsx
  frontend/src/components/profile/TutorProfileForm.tsx
  frontend/src/integrations/api/telegramAPI.ts
  frontend/src/pages/profile/ProfilePage.tsx
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Исправлена синтаксис CheckConstraint для Django 6.0
  backend/invoices/migrations/0001_initial.py
  backend/invoices/migrations/0003_invoice_check_invoice_sent_after_created_and_more.py
  backend/invoices/models.py
Due: backend, backend-unit, backend-integration

Исправлена параметризация CheckConstraint в модели Invoice и добавлены скрипты деплоя
  backend/invoices/models.py
  deploy-production.sh
  test_login_api.sh
Due: backend, backend-unit, backend-integration

Исправлена совместимость Django 6.0 и оптимизирована кэширование фронтенда
  backend/invoices/models.py
  frontend/nginx-default.conf
  frontend/src/service-worker.ts
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Добавлены связи между пользователями для включения форум-чатов
  backend/accounts/management/commands/reset_and_seed_users.py
Due: backend, backend-unit, backend-integration

Исправлены синтаксис CheckConstraint и логика получения чатов для тьютора
  FINAL_MESSAGING_TEST_RESULTS.md
  MESSAGING_TEST_REPORT.md
  backend/chat/forum_views.py
  backend/invoices/migrations/0001_initial.py
  backend/invoices/migrations/0003_invoice_check_invoice_sent_after_created_and_more.py
  test_messaging_integration.py
  test_messaging_sequential.py
Due: backend, backend-unit, backend-integration

Добавлен отчёт о статусе развёртывания платформы
  DEPLOYMENT_STATUS.md
Due: none

Исправлены критические ошибки платформы для полной функциональности
  DEPLOYMENT_STATUS.md
Due: none

Исправлены критические ошибки для запуска контейнеров на сервере
  backend/invoices/migrations/0001_initial.py
  backend/invoices/migrations/0003_empty.py
  backend/invoices/migrations/0003_invoice_check_invoice_sent_after_created_and_more.py
  backend/invoices/migrations/0004_remove_invoice_check_invoice_amount_positive.py
  deploy-local-to-server.sh
  deploy-to-server.sh
  docker-compose.yml
Due: none

Исправлена синтаксис CheckConstraint для Django 6.0 и материализованные представления в миграции reports
  backend/invoices/migrations/0001_initial.py
  backend/invoices/models.py
  backend/reports/migrations/0007_create_materialized_views.py
Due: backend, backend-unit, backend-integration

Исправлена синтаксис CheckConstraint и материализованные представления для совместимости с Django 5.2
  backend/invoices/migrations/0001_initial.py
  backend/invoices/models.py
  backend/reports/migrations/0007_create_materialized_views.py
Due: backend, backend-unit, backend-integration

Добавлено отображение профиля студента в админ-панели пользователей
  backend/accounts/admin.py
Due: backend, backend-unit, backend-integration

Path conditions:
  backend: any of: backend/, but not: backend/migrations/**/*, backend/*/migrations/**/*, backend/tests/**/*, backend/*/tests/**/*, backend/manage.py, backend/*/wsgi.py, backend/*/asgi.py, backend/config/settings.py, backend/core/celery_config.py, frontend/node_modules/**/*, frontend/dist/**/*, frontend/build/**/*, **/__pycache__/**/*, **/*.pyc, **/test_*.py, **/*_test.py, tests/**/*, **/.venv/**/*, **/venv/**/*
  backend-unit: any of: backend/, but not: backend/migrations/**/*, backend/*/migrations/**/*, backend/tests/**/*, backend/*/tests/**/*, backend/manage.py, backend/*/wsgi.py, backend/*/asgi.py, backend/config/settings.py, backend/core/celery_config.py, frontend/node_modules/**/*, frontend/dist/**/*, frontend/build/**/*, **/__pycache__/**/*, **/*.pyc, **/test_*.py, **/*_test.py, tests/**/*, **/.venv/**/*, **/venv/**/*
  backend-integration: any of: backend/, but not: backend/migrations/**/*, backend/*/migrations/**/*, backend/tests/**/*, backend/*/tests/**/*, backend/manage.py, backend/*/wsgi.py, backend/*/asgi.py, backend/config/settings.py, backend/core/celery_config.py, frontend/node_modules/**/*, frontend/dist/**/*, frontend/build/**/*, **/__pycache__/**/*, **/*.pyc, **/test_*.py, **/*_test.py, tests/**/*, **/.venv/**/*, **/venv/**/*
  frontend: any of: frontend/src/, but not: backend/migrations/**/*, backend/*/migrations/**/*, backend/tests/**/*, backend/*/tests/**/*, backend/manage.py, backend/*/wsgi.py, backend/*/asgi.py, backend/config/settings.py, backend/core/celery_config.py, frontend/node_modules/**/*, frontend/dist/**/*, frontend/build/**/*, **/__pycache__/**/*, **/*.pyc, **/test_*.py, **/*_test.py, tests/**/*, **/.venv/**/*, **/venv/**/*
  frontend-unit: any of: frontend/src/, but not: backend/migrations/**/*, backend/*/migrations/**/*, backend/tests/**/*, backend/*/tests/**/*, backend/manage.py, backend/*/wsgi.py, backend/*/asgi.py, backend/config/settings.py, backend/core/celery_config.py, frontend/node_modules/**/*, frontend/dist/**/*, frontend/build/**/*, **/__pycache__/**/*, **/*.pyc, **/test_*.py, **/*_test.py, tests/**/*, **/.venv/**/*, **/venv/**/*
