Repository MegoM2323/Educational-platform-the-bot: changes, and which Codecov flags are due for each by the changed paths.
All: backend, backend-unit, backend-integration, frontend, frontend-unit

.codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error

    patch:
      default:
        target: 70%
        threshold: 5%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

flags:
  backend:
    paths:
      - backend/
    carryforward: true

  backend-unit:
    paths:
      - backend/
    carryforward: true

  backend-integration:
    paths:
      - backend/
    carryforward: true

  frontend:
    paths:
      - frontend/src/
    carryforward: true

  frontend-unit:
    paths:
      - frontend/src/
    carryforward: true

ignore:
  - "backend/migrations/**/*"
  - "backend/*/migrations/**/*"
  - "backend/tests/**/*"
  - "backend/*/tests/**/*"
  - "backend/manage.py"
  - "backend/*/wsgi.py"
  - "backend/*/asgi.py"
  - "backend/config/settings.py"
  - "backend/core/celery_config.py"
  - "frontend/node_modules/**/*"
  - "frontend/dist/**/*"
  - "frontend/build/**/*"
  - "**/__pycache__/**/*"
  - "**/*.pyc"
  - "**/test_*.py"
  - "**/*_test.py"
  - "tests/**/*"
  - "**/.venv/**/*"
  - "**/venv/**/*"

Полная проверка и исправления функции расписания
  backend/config/settings.py
  backend/conftest.py
  backend/pytest.ini
  backend/scheduling/models.py
  backend/scheduling/serializers.py
Due: backend, backend-unit, backend-integration

Исправлена синтаксис CheckConstraint для Django 5.2
  backend/invoices/migrations/0001_initial.py
  backend/invoices/models.py
Due: backend, backend-unit, backend-integration

Исправлены использования ChatRoom.Type enum в тестовых командах
  backend/accounts/management/commands/reset_all_test_data.py
  backend/core/management/commands/create_full_test_dataset.py
Due: backend, backend-unit, backend-integration

Адаптированы ASSIGNMENTS тесты под реальную структуру моделей
  backend/accounts/models.py
  backend/accounts/profile_serializers.py
  backend/accounts/serializers.py
  backend/assignments/migrations/0022_assignment_show_correct_answers.py
  backend/assignments/models.py
  backend/scheduling/migrations/0009_add_lesson_notes.py
  backend/scheduling/models.py
Due: backend, backend-unit, backend-integration

Исправлена инициализация UserFactory в тестах
  backend/.claude/state/progress.json
  backend/tests/factories.py
Due: backend, backend-unit, backend-integration

Исправлены критические ошибки в тестах ASSIGNMENTS
  TESTING_STRUCTURE.md
  backend/.claude/state/progress.json
  backend/assignments/test_asn_002_question_ordering.py
  backend/assignments/test_attempt_tracking.py
  backend/assignments/test_bulk_grading.py
  backend/assignments/test_peer_review.py
  backend/assignments/test_permission_consolidation.py
  backend/assignments/test_plagiarism.py
  backend/assignments/test_scheduling.py
  backend/reports/test_generation_service.py
  backend/tests/factories.py
Due: backend, backend-unit, backend-integration

Унифицировать возвращаемые типы fixtures в conftest.py
  backend/conftest.py
  backend/tests/fixtures/auth.py
  backend/tests/unit/accounts/test_admin_teacher_edit.py
  backend/tests/unit/admin/test_teacher_edit_api.py
  backend/tests/verification/test_update_user_all_roles.py
Due: backend, backend-unit, backend-integration

Миграция на PostgreSQL для всех окружений
  .env.docker
  .env.production.example
  .env.staging.example
  .gitignore
  FINAL_TEST_REPORT.md
  INTERIM_TEST_REPORT.md
  QA_RESULTS.md
  SERIALIZER_TESTS_FIX_REPORT.md
  TESTING_STRUCTURE.md
  TEST_EXECUTION_SUMMARY.md
  UNIT_TEST_CREATION_REPORT.md
  backend/.claude/state/progress.json
  backend/config/settings.py
  backend/core/admin_database_views.py
  backend/core/backup_utils.py
  backend/core/maintenance_utils.py
  backend/core/management/commands/analyze_queries.py
  backend/reports/aggregation.py
  backend/tests/factories.py
  final_test_report.md
Due: backend, backend-unit, backend-integration

Полная подготовка к production: миграции Django 6.0, конфигурация окружения, инициализация БД
  backend/.claude/state/progress.json
  backend/accounts/bulk_serializers.py
  backend/accounts/serializers.py
  backend/accounts/telegram_link_views.py
  backend/accounts/urls.py
  backend/assignments/serializers.py
  backend/chat/serializers.py
  backend/invoices/migrations/0001_initial.py
  backend/invoices/migrations/0006_invoice_enrollment_and_more.py
  backend/materials/urls.py
  backend/reports/services/analytics.py
  backend/tests/factories.py
  docker-compose.prod.yml
  docker/nginx.prod.conf
Due: backend, backend-unit, backend-integration

Исправлены ошибки в Django 6.0: CheckConstraint condition= синтаксис, pg_isready для проверки БД
  backend/invoices/models.py
Due: backend, backend-unit, backend-integration

Исправлены ошибки Docker build: Vite alias resolution для ESM контекста, оптимизирована .dockerignore
  backend/invoices/migrations/0001_initial.py
  frontend/.dockerignore
  frontend/vite.config.ts
Due: none

Завершена Wave 2 и Phase 3: PostgreSQL миграция и тесты
  DEPLOYMENT_SUMMARY.md
  URL_SAFE_PASSWORD_TEST_REPORT.md
  backend/FINAL_PROJECT_REPORT.md
  backend/config/settings.py
  backend/invoices/models.py
  deploy-to-server.sh
  docker-compose.prod.yml
Due: backend, backend-unit, backend-integration

Исправлена критическая ошибка DATABASE_URL parsing в production deployment
  deploy-production.sh
  deploy-to-server.sh
  docker-compose.prod.yml
Due: none

✅ ФИНАЛЬНОЕ ЗАВЕРШЕНИЕ: Wave 2 + Phase 3 + Group 1 fixes (83.6%+ pass rate)
  .env.docker
  .env.production.example
  DATABASE_URL_TESTING_REPORT.md
  DEPLOYMENT_SUMMARY.md
  FINAL_SUCCESS_REPORT.md
  PRODUCTION_DEPLOYMENT_STATUS.md
  README.md
  backend/.claude/state/progress.json
  backend/chat/models.py
  backend/config/settings.py
  backend/conftest.py
  backend/materials/models.py
  backend/tests/factories.py
  docker/PRODUCTION_DEPLOYMENT.md
  scripts/test-database-url-parsing.sh
Due: backend, backend-unit, backend-integration

Полное исправление тестового набора и миграция на PostgreSQL
  DATABASE_URL_TESTING_REPORT.md
  DEPLOYMENT_SUMMARY.md
  PRODUCTION_DEPLOYMENT_STATUS.md
  URL_SAFE_PASSWORD_TEST_REPORT.md
Due: none

Укрепить безопасность master-deploy.sh
  master-deploy.sh
Due: none

Миграция на новый SSH адрес и создание универсального скрипта деплоя
  deploy-local-to-server.sh
  deploy-to-server.sh
Due: none

Финальное обновление: master-deploy.sh готов к production использованию на mg@5.129.249.206
  master-deploy.sh
Due: none

Исправить change_password: удалить SessionAuthentication из REST API endpoint
  backend/accounts/views.py
Due: backend, backend-unit, backend-integration

Исправлена смена пароля и просмотр профиля в админ-панели
  backend/accounts/views.py
  backend/invoices/migrations/0006_invoice_enrollment_and_more.py
  backend/knowledge_graph/migrations/0001_initial.py
  backend/materials/views.py
  frontend/src/components/admin/UserDetailModal.tsx
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Исправлены критические ошибки безопасности и логики в ЛК преподавателя
  backend/accounts/profile_views.py
  backend/accounts/views.py
  backend/config/urls.py
  backend/invoices/migrations/0006_invoice_enrollment_and_more.py
  backend/knowledge_graph/migrations/0001_initial.py
  backend/scheduling/migrations/0002_simplify_to_lesson_model.py
Due: backend, backend-unit, backend-integration

Исправлены критические ошибки деплоя на production сервер 5.129.249.206
  DNS_SETUP.md
  TEST_DELIVERY_REPORT.txt
  backend/Dockerfile
  backend/invoices/migrations/0006_invoice_enrollment_and_more.py
  backend/knowledge_graph/migrations/0001_initial.py
  backend/scheduling/migrations/0002_simplify_to_lesson_model.py
  deploy-fixes.sh
  integration_test.sh
  integration_test_remote.sh
  test_change_password_manually.py
Due: backend, backend-unit, backend-integration

Исправлена миграция на Django 5.0 и добавлена поддержка натурального деплоя
  backend/.claude/state/progress.json
  backend/Dockerfile
  backend/docker-entrypoint.sh
  backend/invoices/migrations/0001_initial.py
  backend/invoices/migrations/0006_invoice_enrollment_and_more.py
  deploy-direct.sh
  docker-compose.prod.yml
Due: backend, backend-unit, backend-integration

Добавлен полный деплой скрипт для всех сервисов
  deploy-full.sh
Due: none

Добавлен скрипт для проверки входов всех ролей пользователей
  test-login-all-roles.sh
Due: none

Добавлена документация по деплоймету и конфигурация проекта
  .gitignore
  DEPLOYMENT_CONFIG.md
Due: none

Добавлена полная документация по тестированию и операциям
  DEPLOYMENT_AND_TESTING.md
  test-domain-logins.sh
  test-ip-logins.sh
Due: none

Удалены документы о деплойменте из версионного контроля
  DEPLOYMENT_AND_TESTING.md
  DEPLOYMENT_CONFIG.md
Due: none

Исправлены критические ошибки развёртывания на production сервер
  backend-control.sh
  backend/.claude/state/progress.json
  backend/invoices/migrations/0006_invoice_enrollment_and_more.py
  backend/invoices/migrations/0007_fix_dependencies.py
  deploy-direct.sh
Due: backend, backend-unit, backend-integration

Исправить зависимость миграций knowledge_graph от materials
  backend/knowledge_graph/migrations/0001_initial.py
Due: none

Исправить фильтрацию студентов в админ-панели
  backend/accounts/serializers.py
  backend/accounts/staff_views.py
Due: backend, backend-unit, backend-integration

Исправить утечки email и валидацию в serializers и staff_views
  backend/accounts/serializers.py
  backend/accounts/staff_views.py
Due: backend, backend-unit, backend-integration

Переформатирование кода permissions и staff_views модулей в соответствии со стандартом black
  backend/accounts/permissions.py
  backend/accounts/serializers.py
  backend/accounts/staff_views.py
  backend/chat/permissions.py
  backend/materials/permissions.py
Due: backend, backend-unit, backend-integration

Исправить обработку импортов материалов в сериализаторах и сигналах
  backend/accounts/serializers.py
  backend/accounts/signals.py
  backend/chat/permissions.py
Due: backend, backend-unit, backend-integration

Исправление системы ролей и пермишнов
  backend/accounts/models.py
  backend/accounts/permissions.py
  backend/accounts/staff_views.py
  backend/materials/permissions.py
  backend/reports/permissions.py
Due: backend, backend-unit, backend-integration

Аудит и исправление системы личного кабинета ученика
  backend/accounts/models.py
  backend/accounts/permissions.py
  backend/accounts/profile_serializers.py
  backend/accounts/profile_views.py
  backend/accounts/serializers.py
  backend/accounts/signals.py
  backend/accounts/staff_views.py
  backend/accounts/tutor_serializers.py
  backend/accounts/tutor_service.py
  backend/accounts/tutor_views.py
  backend/accounts/views.py
  backend/chat/migrations/0012_fix_chatroom_enrollment_cascade.py
  backend/chat/models.py
  backend/config/exceptions.py
  backend/config/settings.py
  backend/core/environment.py
  backend/invoices/migrations/0001_initial.py
  backend/materials/parent_dashboard_service.py
  backend/materials/parent_dashboard_views.py
  backend/materials/permissions.py
  backend/materials/student_dashboard_views.py
  backend/materials/tutor_dashboard_service.py
  backend/pytest.ini
  frontend/src/App.tsx
  frontend/src/pages/dashboard/ParentDashboard.tsx
  frontend/src/utils/api.ts
Due: backend, backend-unit, backend-integration, frontend, frontend-unit

Исправление приватных полей, оптимизация запросов и укрепление безопасности системы личного кабинета
  backend/accounts/signals.py
  backend/materials/cache_utils.py
  backend/materials/parent_dashboard_service.py
  backend/materials/parent_dashboard_views.py
  backend/materials/student_dashboard_views.py
  backend/materials/study_plan_views.py
  backend/materials/teacher_dashboard_views.py
Due: backend, backend-unit, backend-integration

Укрепление безопасности и оптимизация системы личного кабинета родителя
  backend/accounts/models.py
  backend/accounts/permissions.py
  backend/accounts/profile_serializers.py
  backend/accounts/profile_views.py
  backend/accounts/serializers.py
  backend/accounts/signals.py
  backend/accounts/staff_views.py
  backend/accounts/tutor_serializers.py
  backend/accounts/tutor_views.py
  backend/chat/migrations/0012_fix_chatroom_enrollment_cascade.py
  backend/config/exceptions.py
  backend/materials/cache_utils.py
Due: backend, backend-unit, backend-integration
